[2017-12-27 10:55] maoberlehner opened #1 "npm ignore *.spec.* files"

[2017-12-27 10:59] maoberlehner opened #2 "Do use single quotes instead of backticks in code examples"

[2017-12-28 04:28] #2 closed

[2017-12-28 04:28] #1 closed

[2017-12-30 16:51] maoberlehner opened #3 "The 'defineProperty' Babel helper is used more than once in your code"
It's strongly recommended that you use the "external-helpers" plugin or the "es2015-rollup" preset. See https://github.com/rollup/rollup-plugin-babel#configuring-babel for more information

[2017-12-31 10:01] maoberlehner opened #4 "Remove .tgz file after fake publishing"

[2017-12-31 10:05] maoberlehner opened #5 "Remove `Object.assign` in arrayToObject"
- Little bit smaller file size
- Consistency
- Better compatibility

[2018-01-01 07:09] #3 closed

[2018-01-01 07:09] #4 closed

[2018-01-01 07:10] #5 closed

[2018-01-06 21:03] MarkGStacey opened #6 "mapFields doesn't appear to handle vuex modules correctly"
Results in error: [Vue warn]: Error in render: "TypeError: this.$store.getters[getterType] is not a function"

[2018-01-07 05:50] maoberlehner commented on #6
Hello @MarkGStacey

are you using `namespaced: true` on your Vuex module?

**With `namespaced: true`**

[code]

**Without namespaces**

[code]

Let me know if this worked for you. I'll add those examples to the README. Thanks for submitting this issue.

[2018-01-25 11:21] dab opened #7 "How to handle array fields in store?"
Hello there. Please help me to understand how to handle array fields with this plugin. I have `members` array in store.
It's easy to map array itself with

[code]

adding new items to the array dynamically with needed fields, like:

[code]

and dynamically showing this data in template with:

[code]

But it's not working, store is not updating.
Thanks for help.

[2018-01-25 13:50] maoberlehner commented on #7
Thanks for reporting this issue. I'll look into this the following days.

[2018-01-26 13:09] maoberlehner commented on #7
Ok, I figured it out – it is a little hacky I guess, but it works:

## Component HTML

Note that I changed the `:key`, if you're using the `name` of the member, updating the name will re-render!

[code]

## Component JS

[code]

## Store

[code]

[2018-01-26 14:01] dab commented on #7
Thanks! I will check it.

[2018-01-27 10:07] maoberlehner commented on #6
I'm closing this, because as far as I'm aware, everything works as expected. Please reopen this issue or create a new one if you have problems making it work, thanks.

[2018-01-27 10:07] #6 closed

[2018-01-27 11:10] maoberlehner commented on #7
Hey @dab!

I looked further into this and realized, that my approach is not working when a new `member` is dynamically added. I'm currently working on adding the functionality needed to deal with such situations with dynamically added fields. I'll release a new version to next days!

[2018-01-27 16:20] maoberlehner opened #8 "Add functionality to map an array of field objects"
See: https://github.com/maoberlehner/vuex-map-fields/issues/7

[2018-01-27 16:21] maoberlehner opened #9 "Add functionality to map complex field objects"
Make it possible to provide shema with (exported) types for complex mappings -> `mapComplexFields()`.

[code]

[2018-01-28 08:42] #8 closed

[2018-01-28 08:45] maoberlehner commented on #7
A new function was added for such use cases: https://github.com/maoberlehner/vuex-map-fields#multi-row-fields

[2018-01-28 08:45] #7 closed

[2018-02-12 17:30] MrRossBennett opened #10 "Integration with Nuxt.js"
Hello - currently working on getting this excellent module to work with [Nuxt.js](https://nuxtjs.org/). I'm using Nuxt in SSR mode. When I follow your example [here](https://markus.oberlehner.net/blog/how-to-structure-a-complex-vuex-store/), I get:

`module namespace not found in mapState():`

and...

`this.$store.getters[getterType] is not a function`

Pretty sure it's to do with when Nuxt inits

[2018-02-13 09:27] maoberlehner commented on #10
Hey @MrRossBennett I'll look into this today!

[2018-02-14 14:42] maoberlehner commented on #10
Hey @MrRossBennett,

I couldn't reproduce your exact problem but I found out, that dynamically registering store modules with `registerModule()` might not work as expected with Nuxt, so what I did was that I load the store module as usual directly when initializing the store.

- https://github.com/maoberlehner/well-composed-frontend/blob/temp/vuex-map-fields/store/modules/index.js
- https://github

[2018-02-21 09:25] maoberlehner opened #11 "UglifyJs error"
webpack imports the `module` file which uses ES6 features, in some circumstances, this can lead to the following problem when starting the build process: `Unexpected token operator «=», expected punc «,» [./node_modules/vuex-map-fields/src/lib/array-to-object.js:1,0]`

Temporary workaround: import the dist files explicitly

[code]

[2018-02-21 17:11] #11 closed

[2018-02-24 17:37] maoberlehner commented on #9
Too complicated

[2018-02-24 17:37] #9 closed

[2018-02-28 11:33] Addgod opened #12 "Vue.set"
Any chance that you can use Vue.set to update data into the state.

This way dynamic objects would be possible.

[2018-02-28 11:47] maoberlehner commented on #12
Hi @Addgod

I thought about using `Vue.set` but it would make things a lot more complicated (because I don't want to bundle `Vue` with this package but I also can't rely on `Vue` being available in the global scope).

For the use cases I've used this package so far, objects were reactive even without using `Vue.set`. Can you give me an example under which circumstances not using `Vue.set` has nega

[2018-02-28 13:26] Addgod commented on #12
I haver an application where first I get a list of locations, where I then select one, then form that choice I get a list of categories, and from that I can get a list of products, that are assigned to that category, and that location. I then create an object that will contain all the products, but it is keyed by the category id. Because of the fact that I do not know the category keys on load, I

[2018-02-28 13:57] maoberlehner commented on #12
Any chance to see some code? :)

[2018-02-28 21:30] Addgod commented on #12
https://codepen.io/Addgod/pen/OQdXPw

This is what I am trying to do, just using your getters and mutations. But basically the same thing.

[2018-03-04 09:27] maoberlehner commented on #12
Thank you for the example code.
I'm sorry, but I do not quite understand how you're using `vuex-map-fields` to solve the problem in the codepen you've provided.

Have you already seen the `mapMultiRowFields()` function (https://github.com/maoberlehner/vuex-map-fields#multi-row-fields) of this package? As far as I understand your problem, this might be a better fit for you than `mapFields()`

Altho

[2018-03-07 13:56] maoberlehner opened #13 "Use eslint-plugin-markdown to lint the README file"
https://github.com/eslint/eslint-plugin-markdown

[2018-03-14 14:30] #13 closed

[2018-03-17 06:10] maoberlehner commented on #10
I'm closing this because of inactivity and because I can't reproduce the exact problem. Please open a new issue with more informations (live code example in the best case) if the problem still exists. Thx.

[2018-03-17 06:10] #10 closed

[2018-03-30 11:40] maoberlehner commented on #12
I'm closing this because of inactivity. I'll reopen it again if there is demand for it.

[2018-03-30 11:40] #12 closed

[2018-04-04 15:21] maoberlehner opened #14 "Add LICENSE file"

[2018-04-07 16:51] maoberlehner opened #15 "Add PayPal and Patreon badges"
https://img.shields.io/badge/patreon-donate-green.svg

[2018-04-07 16:54] #14 closed

[2018-04-08 18:11] d3v0purr opened #16 "Index Param"
Great library!

Any chance it is possible to pass a parameter to the getter & mutation functions? It would be handy to pass in a value, such as a record id, in a scenario where an item in an array is being edited by a dedicated Vue child component.

const { mapFields } = createHelpers({
  getterType: 'fooModule/getField',
  mutationType: 'fooModule/updateField',
});

Thanks for your time.

[2018-04-09 03:37] #15 closed

[2018-04-10 03:17] maoberlehner commented on #16
@d3v0purr could you provide a simple example of how you imagine the ideal API would be / how you'd like to use this feature? Thx!

[2018-04-11 13:34] d3v0purr commented on #16
You asked a good question. Let me think this through a little and follow up.

[2018-04-23 16:43] maoberlehner opened #17 "Add links to articles"

[2018-04-24 10:14] #17 closed

[2018-04-28 15:43] jurgenbosch opened #18 "Multiple getterTypes"
Hi,

I'm working Vuex modules to state my data.
I store the data in multiple modules to keep my code base nice and clean.

When using vuex-map-fields I have a situation where I'm using data from multiple modules.
There seems to be no method to do this or I am doing it wrong.

Below is my current code;
**My component**
[code]

**My store file**
[code]

**Applicant.js**
[code]

The code above result

[2018-04-30 03:25] maoberlehner commented on #18
Hey @jurgenbosch,

you're almost there, but instead of passing multiple getters to `createHelpers()`, you can destructure and rename the return value of `createHelpers()` and call it twice.

[code]

[2018-04-30 10:51] jurgenbosch commented on #18
Awesome! Thank you. Never thought of the destructor. I guess I was stuck at the array option ;)

[2018-04-30 12:04] jurgenbosch commented on #18
One more question ..

Is there a way to use module_name.store_name syntax in the template?
In the current setup it might happen that both modules contain a store for the title.

In the current situation I can only use it once.

[2018-04-30 13:16] maoberlehner commented on #18
You can rename properties: https://github.com/maoberlehner/vuex-map-fields#rename-properties

[2018-04-30 13:30] jurgenbosch commented on #18
I've seen that solution but and I imagined prefixing everything but that doesn't feel like a nice solution because it would basically adding more work to rename all fields and makes it unnecessary complicated.

It tried something like;
[code]
But this results in a error saying;

Ideal would be to have something like:
[code]

And then use 'applicant.firstName' in the template instead of just 'first

[2018-04-30 14:11] maoberlehner opened #19 "Make it possible to prefix / group properties with `createHelpers()`"
Proposed API:

[code]

Thanks @jurgenbosch for the idea (https://github.com/maoberlehner/vuex-map-fields/issues/18#issuecomment-385398526)

[2018-04-30 14:12] maoberlehner commented on #18
I think that's a pretty good Idea – I'm open for pull requests. See: https://github.com/maoberlehner/vuex-map-fields/issues/19

[2018-04-30 14:13] maoberlehner commented on #18
I might work on it myself the following days, but I can't guarantee that I have time.

[2018-04-30 14:14] jurgenbosch commented on #19
Would be awesome to have the template look like this:
[code]

[2018-05-09 13:19] trixpan opened #20 "Documentation examples do not work on vuex webpack templates"
@maoberlehner , code is amazing, however it take a while to vue newbies (likely users of the module) to go pass the

[code]

caused by interaction of the code of your examples with current vue out of the box.

[2018-05-09 14:01] trixpan commented on #20
wow...

... is valid ES syntax.

May god help us...

[2018-05-09 14:01] #20 closed

[2018-05-10 10:59] savandriy opened #21 "String formatting of the getterType and mutationType arguments to createHelpers"
I tried to do stuff like:
[code]
But it didn't work. I pass "nsName" as props. I want to create reusable components.
Do you think there's a way to achieve this kind of behavior?

Thanks in advance!

[2018-05-10 11:12] maoberlehner commented on #21
Hey @savandriy!

I'm not quite sure if I understand correctly what you want to achieve?

[code]

[2018-05-10 11:27] savandriy commented on #21
I want to receive "nsName" in props.

[code]
Maybe there's a way to create the helpers on a lifecycle hook or something?

[2018-05-10 11:36] maoberlehner commented on #21
This is not possible. You can't access the props of a Vue.js component from outside the component.

[code]

[2018-05-10 11:42] savandriy commented on #21
Ah, now I see.
In that case, can I call
```createHelpers({getterType: `${nsName}/getField`, mutationType: `${nsName}/updateField`'})```
inside the export default block?
maybe right inside the computed?

[2018-05-10 11:46] maoberlehner commented on #21
Theoretically you can do that, but practically you can't use the helpers created that way. There is now way (I'm aware of) how you can pass helpers created *inside* the component / at the time the component is created, to the computed properties of the same component. Sorry.

[2018-05-10 11:50] savandriy commented on #21
Anyway, thanks!

[2018-05-10 13:59] abhinukala commented on #18
Hi @maoberlehner What if I have to use all the fields in the state more than once i.e using it in multiple components. How do I handle this situation?

For Example,

const { mapFields: mapKitchenFields } = createHelpers({
  getterType: 'getKitchenField',
  mutationType: 'updateKitchenField',
});
const { mapFields: mapApplicantFields } = createHelpers({
  getterType: 'getApplicantField',
  mutation

[2018-05-11 03:32] maoberlehner commented on #18
Hey @abhinukala Your example would not work, because the fields mapped with `mapKitchenFields` and `mapApplicantFields` have the same names. You'd have to [rename the fields](https://github.com/maoberlehner/vuex-map-fields#rename-properties).

If you don't want to write the `createHelpers()` function multiple times with the same parameters, you could create a file like this:

[code]

[code]

Or if

[2018-05-11 16:18] abhinukala commented on #18
@maoberlehner. Thank you for your response. Let me put my question this way. I have an address component(which has line1, line2, city, state and zip fields) that will be reused in multiple other components like Title and Registration as a sub-component. Now when I fill the address in Title.vue, in my store I need to have this information saved in the state -> title object. Save for registration.

[2018-05-11 19:53] vjoao commented on #19
Is this about namespacing? Couldn't we follow the vuex pattern with `import { createNamespacedHelpers } from 'vuex'`?

[2018-05-12 04:55] maoberlehner commented on #19
Hey @vjoao it's kinda about namespacing. But not in the sense `createNamespacedHelpers` is doing it. vuex-map-fields has its own `createHelpers` function, which provides the same functionality as `createNamespacedHelpers` in terms of providing a Vuex module namespace, but additionally is also intended to rename the mutation and getter helper functions (that's why it's not called `createNamespacedH

[2018-05-12 04:58] maoberlehner commented on #21
I'm closing this because there is nothing more to do. Thank you for contributing.

[2018-05-12 04:58] #21 closed

[2018-05-12 05:06] maoberlehner commented on #18
I wrote an [article about reusable Vuex modules](https://markus.oberlehner.net/blog/how-to-structure-a-complex-vuex-store/). In the article you can see, that the `contact.js` and `address.js` Vuex modules are reused. Is this close to what you want to achieve?

[2018-05-14 20:13] dasuchin commented on #16
The way I imagine using this, if I understand what he's asking correctly, would be if in my state I have an array of objects called 'projects' and I wanted to build a form to edit a single project.

Right now with this library, I don't see a way to load a form component and tell it that I want the fields from a specific project. I don't know what the feature would look like to use it, but I just d

[2018-05-14 22:47] hanxue opened #22 "Nested Properties not working"
In my `store.js`, I have a couple of modules, and a few nested properties in one of the module

[code]

In my `Component.vue`, I use mapfields, and call the property with the identifier after the last `.`

[code]

I see this error message:

[code]

I see the nested properties available in the Vue.js devtools

![image](https://user-images.githubusercontent.com/760008/40027198-666ed5a8-580b-11e8-8e8

[2018-05-15 00:36] d3v0purr commented on #16
Sorry for my delayed response. Got consumed by another project. @dasuchin did a great job describing what I would like to see.

I suspect the most common use case would be mapping by index. This would certainly be helpful and is probably the most universal solution.

Personally, I try to avoid passing indexes around between parent and child Vue components and instead prefer supplying keys (i.e. "p

[2018-05-15 05:12] jaredthirsk opened #23 "Simpler namespace support, overloaded behavior of mapFields to match vuex"
I am already using this from vuex:
`...mapGetters(['myNamespace', ['mygetter1', 'mygetter2'])`
`...mapGetters(['myNamespace2', ['mygetterX', 'mygetterY'])`

so it would seem nice to me to be able to do:
`...mapFields(['myNamespace', ['myfield1', 'myfield2'])`
`...mapFields(['myNamespace2', ['myfieldX', 'myfieldY'])`

or am I missing something?

I don't want to have to do what the README says and d

[2018-05-15 05:55] maoberlehner commented on #23
Hey @jaredthirsk – I think that is a good idea.

But I think the following implementation would be more close to Vuex:

[code]

[2018-05-15 13:29] abhinukala commented on #22
+1 I have the same issue. I have multiple nested objects
state: {
   title: {
     titleNum: '',
     ownerName: '',
     dealerName:'',
     vehicleYear:'',
     address: {
         line1:'',
         line2: '',
         city: '',
         adrState: '',
         zip:''
     }
   },
   getters: {
    getField,
  },
  mutations: {
    updateField,
  }
}

In my component

<m-title label="Title No" n

[2018-05-16 04:25] hanxue commented on #22
This is how `moduleBasicInput` looks like

[code]

[2018-05-16 07:56] hanxue commented on #22
I mange to solve it by copying the syntax for the examples before looking at your reply

[code]

Thanks so much for explaining in detail in your answer, and a 👍 for the excellent documentation

[2018-05-16 07:56] #22 closed

[2018-05-17 16:03] rob-wood-browser opened #24 "Make it possible to use dynamic field names in mapFields"
Hey, thanks for the great library!

I'm wondering if it's possible to use dynamic field names in the `mapFields` function? For example, I'm keen to use ```...mapFields([`pages[${this.pageNumber}].inputs[${this.questionNumber}].value`])``` where pageNumber and questionNumber are props passed to the component.

I'm able to use those props in the template of the component so I know they're being pass

[2018-05-17 16:15] maoberlehner commented on #24
Hey @rob-wood-browser, unfortunately, this is not possible because `this.pageNumber` and `this.questionNumber` are not defined in the context of `...mapFields()`.

[code]

I edited your issue title and I'll handle this as a feature request. Although I currently have no idea how I could implement this. Suggestions and / or a pull request are welcome.

[2018-05-21 23:58] jaredthirsk commented on #23
I started coming up with something but then came across https://github.com/davestewart/vuex-pathify and am going to give it a try.

While I was starting, I was wondering about something like this (added the if block at the beginning):

[code]

[2018-05-22 16:05] #23 closed

[2018-05-23 03:24] maoberlehner opened #25 "Use Yarn instead of npm"

[2018-05-23 03:34] #25 closed

[2018-05-24 19:14] henrixapp opened #26 "Add .d.ts for typescript like vuex"
Adding a `index.d.ts` would be great in order to support typescript. I have drafted one already, based on the vuex one:
[code]

[2018-05-25 05:44] maoberlehner commented on #26
Hey @henrixapp I appreciate your work and from using TypeScript myself for certain projects, I know how nice it is to have the correct types for all of your dependencies.

But what concerns me is this: the types have to be updated every time I make some changes – and to be completely honest with you: I don't want to invest my time in that. It even gets more complicated if other people decide to co

[2018-05-28 00:37] driekus77 opened #27 "mapMultiRowFields does something strange with an array?"
Hi All,

I liked how-to-structure-a-complex-vuex-store a lot and I'm trying to use the idea's.

Unfortunately it looks like my "vue-tables-2": "^1.4.50" is not working fine together with mapMultiRowFields from "vuex-map-fields": "^1.2.3".

It looks to come down to the code in my form:
[code]
users is working fine inside the vue-tables-2 but multiUsers is not. v-for..loop on multiUsers is working p

[2018-05-28 10:40] maoberlehner commented on #27
Hi @driekus77 it would be great if you could provide a [reduced test case](https://css-tricks.com/reduced-test-cases/) to demonstrate the problem. Ideally on https://jsfiddle.net/

Thanks!

[2018-05-28 17:44] driekus77 commented on #27
Hi @maoberlehner ,

Took me some time to figure jsfiddle out: https://jsfiddle.net/y5w72x87/33/

If you switch in the computed part:
[code]

mapTodoFields ==> todos and mapTodoMultiRowFields ==> mtodos 👍
mapTodoFields ==>ptodos and mapTodoMultiRowFields ==> todos 👎

Thanks for any help and/or feedback!

Kind regards,
Henry

[2018-05-30 16:45] driekus77 commented on #27
Oke man thanks for looking into it!

[2018-05-30 16:45] #27 closed

[2018-06-01 11:13] badertscher commented on #24
Hi @maoberlehner,
I just found out, that the context of mapFields has no idea of the component scope. As I am working with a tree of components and I am mapping components to an object in an array, it would be very helpful to composed the mapFields-String dynamically. For now I will use getter and setters and I will tell you, if I have an idea for an implementation.

Beside that, you're package is

[2018-06-04 12:44] heloisasvl opened #28 "Objects of array in computed is empty?"
![Objects of array in computed is empty](https://thumb.ibb.co/dkgGho/print_1.png)

![Objects of array in state is not empty](https://image.ibb.co/dOyXoT/print_2.png)

[2018-06-04 15:56] maoberlehner commented on #28
Hey @heloisasvl,

I know it's a little bit tricky, because your code is pretty complex, but it would be really awesome if you could provide a [reduced test case](https://css-tricks.com/reduced-test-cases/) on JSFiddle. You can take a look at [this JSFiddle](https://jsfiddle.net/y5w72x87/33/) to see how to set up `vuex-map-fields` in JSFiddle. Thanks!

(I'll look into this eventually, but if you ca

[2018-06-09 14:34] jacsmith21 opened #29 "mapMultiRowFields without nested keys"
Hey! Thanks for making this library, it's helped me out a lot! One question I have concerns inputs which are arrays but do not have nested values.

Here is a modified example taken from your README:
[code]

Is something like this currently possible? Thanks :)

[2018-06-11 16:01] maoberlehner commented on #29
Hey @jacsmith21,

unfortunately, that is currently not possible. I'll think about implementing this in the future.

Thanks for contributing your idea!

[2018-06-11 16:46] jacsmith21 commented on #29
That's fine, it's easy to work around this limitation by adding a key and then postprocessing the form!

[2018-06-12 07:17] kaungmyatlwin opened #31 "mapMultiRowFields nested Array (nested v-for)"
Hi. Thanks for the awesome library. I'm using it in my project and I've found this following issue.

My store isn't name spaced. I'm using `getField` and `updateField` mutations in a component. I can't seem to update nested array while user is typing the nested text field. But once they input in the parent object, the inner child objects update again.

Here is my store structure.

[code]

Here is

[2018-06-12 08:01] maoberlehner commented on #31
Hey @kaungmyatlwin,

in this case, a Fiddle is not necessary :) nested Objects are (currently) not supported in combination with `mapMultiRowFields`. `mapFields` does work, but I guess it does not work well for your use case.

[2018-06-12 08:05] kaungmyatlwin commented on #31
Thanks. I'll get back later and see if it works out.

On Tue, Jun 12, 2018, 2:31 PM Markus Oberlehner <notifications@github.com>
wrote:

[2018-06-13 20:11] emprove opened #32 "Nuxt.js bug "Do not mutate vuex store...""
"vuex-map-fields": "^1.3.0"
"nuxt": "^1.4.1"
Use Namespaced Vuex modules. Did according to the documentation.

"[vuex] Do not mutate vuex store state outside mutation handlers."

[2018-06-14 03:12] maoberlehner commented on #32
Hey @emprove,

please provide more details and some example code otherwise I don't know how I could possibly help you. Thanks.

See: https://github.com/maoberlehner/vuex-map-fields/blob/master/CONTRIBUTING.md#reporting-issues

[2018-07-07 01:55] wanxe commented on #24
Sometimes we need to inject the index of the field to map with vuex, so it can be helpfull. For the moment I'm doing manually with something like this:
[code]

[2018-07-10 06:31] kajeagentspi opened #34 "Is it possible to make this synchronous?"

[2018-07-10 08:47] maoberlehner commented on #34
Hey @kajeagentspi, can you provide more details? I'm not quite sure what you mean? 🤔

vuex-map-fields is purely synchronous, but there are some parts of Vuex and Vue.js which are async. Vuex actions are async and `v-model` updates in Vue.js are async. There is no way around that.

[2018-07-10 08:49] kajeagentspi commented on #34
Ahh thanks for the clarification. 👍

[2018-07-10 08:49] #34 closed

[2018-07-17 05:14] RVeligotskiy opened #35 "Why mapMultiRowFields returns empty objects?"
https://jsfiddle.net/roman1101/te4ordgh

[2018-07-17 07:54] RVeligotskiy commented on #35
Thank you. I had warn Cannot read property 'name' of undefined when i define data like that:
var all = []
all[1] = {id:1, name:'name1'}
all[2] = {id:3, name:'name1'}
...
state:{all},
...

But this is Vue feature

[2018-07-17 07:54] #35 closed

[2018-07-29 17:51] grmnn opened #36 "mapped fields inside one object"
Hello!

Im new to Vue JS and something like state management and currently trying to create a simple app where I am able to create a construction project with some information and send it to a MongoDB with axios on the frontend and express as the backend.

Currently working on the editing  existing projects I have a form with 10 editable propertys.

![image](https://user-images.githubusercontent.c

[2018-07-30 11:51] #36 closed

[2018-08-02 05:34] murbanowicz opened #37 "Cannot get 2 way with namespaced module"
Hi,

I have store split into the modules.
I have module called 'Registration':
[code]

registration/index:
[code]

and in my component Vue file:
[code]

in template I am using Quasar Framework inputs but it is not caused by that as it supports v-model:
[code]

It properly updates the store with input value, but the value is missing as I keep getting:
[code]

Is it some bug or did I do something wr

[2018-08-03 03:35] maoberlehner commented on #37
Hey @murbanowicz, the code you've posted looks good to me. It might be some compatibility problem with the `q-input` thing.

[2018-08-03 20:53] abhipanda opened #38 "Example writing tests with map fields"
I am using map fields in my vuex store but running the tests gives me the following error:

TypeError: this.$store.getters[getterType] is not a function

Are there any examples with vue-jest tests?

[2018-08-06 08:50] Harti commented on #38
@abhipanda I encountered this issue when I forgot to set `namespaced: true` in one of my modules. Make sure that if you're using namespaces, you set them correctly.

[2018-08-06 09:10] Harti opened #39 "Slow performance alongside Logger plugin"
This may or may not be completely unrelated to this library - however it only started occurring once I added the `mapFields` function to my component.
I added [Vuex's Logger plugin](https://vuex.vuejs.org/guide/plugins.html#built-in-logger-plugin) to my Vuex store shortly before I found this (awesome!) lib.

When I then started to type in a v-model input field with the value being mapped by the li

[2018-08-07 00:46] abhipanda commented on #38
@maoberlehner Yes I mock parts fo the app - my actual store is in the parent app where I have added the map fields functions.
@Harti - I don't see the issue while running the app but only when running tests

As a temporary workaround I resolved the issue by mocking the getter type and mapFields function

[code]

[2018-08-08 03:24] maoberlehner commented on #38
The error occurs if the vuex-map-fields getter function can't find the property it's mapped to. I guess your mock store does not provide the property which the getter function should be mapped to?

[2018-08-08 03:29] maoberlehner commented on #39
Hey @Harti,

that's interesting, thanks for the info. Because I'll likely make some major changes under the hood in the next major release anyway, and because I don't think this is a major issue, I'll most likely not fix that.

But thank you for letting me know!

[2018-08-08 03:29] #39 closed

[2018-08-09 03:30] maoberlehner commented on #38
Thank you for reporting this issue.

May I ask you (@abhipanda and @n3ps) to please provide a [reduced test case](https://github.com/maoberlehner/vuex-map-fields/blob/master/CONTRIBUTING.md#reporting-issues). Otherwise it's pretty hard for me to do anything about it. My best guess is, that the mocked instance of your store has no `parent.someProperty` key. But it's just a guess and I can't do noth

[2018-09-04 13:05] greentunic commented on #31
@maoberlehner I am also very interested in being able to use mapMultiRowFields for an object instead of an array. Alternatively my data structures could be remade, but a lot of them are already quite normalised.

But I understand that you might take a while to get around to this and probably have more important things to focus on, so In the interim, would you have any advice for me wanting to map

[2018-09-05 09:19] molerat619 opened #40 "Use mapMultiRowFields with custom getters (normalized data)"
Hi Markus, great job here - thanks for your work!

I have a **normalized data structure** like this:

[code]

Therefore I need a **custom getter function** like the following:

[code]

Then I can **loop** over the questions like that:

[code]

This is without using your module so far. But I need to use it, because I want to have input fields for each question so they can be edited - and then I gue

[2018-09-06 04:55] maoberlehner commented on #40
Hey @molerat619,

thank you for your kind words.
I'm currently very busy but I'll look into this in the following week.

Thanks!

[2018-09-06 05:00] maoberlehner commented on #31
Hey @greentunic,

I'm currently quite busy but I'll take a closer look at your question in the following week. If you could provide me with some code (maybe even a link to a https://codesandbox.io/) to showcase what you want to achieve, it would be a great.

Thanks!

[2018-09-06 07:37] greentunic commented on #31
@maoberlehner

Thanks Markus,
Here's a really simple example that I made based off a scaffold I have lying around.
[https://codesandbox.io/s/zkq3m0jk3p](https://codesandbox.io/s/zkq3m0jk3p)

This currently works fine.

Ignoring how many files are in there, the only 2 that matter are

**Child.vue**
[code]
**store.js** state
[code]
If you change it to use the people_object instead of the array, (and

[2018-09-10 16:02] meliborn opened #41 "Computed properties still empty, when state is changed"
Not sure it's a vuex-map-fields problem but...
I have a simple form and submit button. I do axios call to send data to the server. The problem is, when I type something into form input, property still empty, when store is up to date.
I'm using chrome plugin to debug values:
![111](https://user-images.githubusercontent.com/735194/45309199-df565b80-b52b-11e8-9ab3-f2294764a40d.png)
Here is a store:

[2018-09-11 09:08] maoberlehner commented on #41
Hey @meliborn,

without seeing any code, there is nothing I can do for you ;)

Please provide a [reduced test case](https://css-tricks.com/reduced-test-cases/) (you can use https://codesandbox.io/ for example) or at least copy and paste the relevant code (the `computed` section of your component and the `getters` and `mutations` sections of your store). Thanks!

[2018-09-11 09:34] maoberlehner commented on #40
@molerat619 I can't quite wrap my head around your problem ^^ – but I don't think it's possible.

I'd have to invest a lot of time into thinking about this very specific use case, for which this project was never intended and I'm not sure if it's even possible at all. So I ask for your understanding that I'm currently not able to provide this level of support.

I'll not close this issue because I'

[2018-09-11 09:36] molerat619 commented on #40
@maoberlehner ok, I understand. Thanks for your time though. I think I have a solution for it. If it works, I can share it here.

[2018-09-11 14:27] molerat619 opened #42 "Nested Properties with arrays not working?"
Hi @maoberlehner ,

I am trying to use a nested property, but I get this error all the time:

`[Vue warn]: Error in render: "TypeError: this.$store.getters[getterType] is not a function"`

What I do is the following:

[code]

In the view I use it like that: `<input type="number" v-model="test" />`

This is my data structure in the "assessment_designer"-module:

[code]

Everything else from your pl

[2018-09-11 16:53] meliborn commented on #41
@maoberlehner
[code]

[code]

[2018-09-12 23:30] greentunic commented on #31
@maoberlehner

Thanks for the update.
I totally agree with using arrays in order to be able to utilize all the methods.
That's how I normally do things but I had some data being fed to me and so I'm just working on restructuring it; it just makes sense.
Just wanted to know possibilities of the function.

Thanks very much.

[2018-09-14 11:28] kjfdebruin commented on #6
I forgot `namespaced: true` and also got the above error. I can confirm that modules are handled correctly and that mapFields works. Thanks @maoberlehner for a great library!

[2018-09-17 14:53] molerat619 opened #43 "Shortcut for multiple object properties"
Hey Markus,

would it make sense to allow to do the following?

[code]

Then in the form one can easily use `myObject.title` etc. on the v-model. Right now, I find it a bit cumbersome/not scalable to have to add each field to that array in mapFields.

[2018-09-25 09:21] maoberlehner commented on #42
Hey @molerat619,

hard to tell from not seeing the complete code. Please make sure to follow [the documentation](https://github.com/maoberlehner/vuex-map-fields#namespaced-vuex-modules) and make sure if you have set `namespaced: true` because, from what I can see, your code looks like you should.

Please let me know if you could fix the problem.

[2018-09-25 09:31] maoberlehner commented on #43
I'll consider it, but I can't promise anything. Thank you for suggesting it.

[2018-09-28 16:50] pavanagrawal123 opened #44 "Compatibility w/ Veutify v-inputs?"
Hi,

I'm trying to use this for a Vue project, and I have it working with normal fields (inputs), however, as soon as I use v-inputs https://vuetifyjs.com/en/components/inputs, the functionality breaks. Are there any workarounds for getting vuex-map-fields to get working with Veutify forms?

Thanks.

[2018-09-28 17:31] pavanagrawal123 commented on #44
Found the solution, it is compatible, and it works great. I was having the issue w/ mine because I had a field defined in the internal state and the store state, which was conflicting.

[2018-09-28 17:31] #44 closed

[2018-10-02 18:54] anikolaev commented on #41
It could look like this:
[code]
I used it instead of librarian one and it works for plain and object properties. Haven't checked with arrays yet.

[2018-10-04 16:47] anikolaev commented on #28
@maoberlehner You can see the issue here: https://codesandbox.io/s/nw79l9199p

[2018-10-06 07:17] maoberlehner commented on #41
This could be an interesting addition to the code. I'd take a look at a pull request if somebody invests their time into that. 👍

[2018-10-06 07:49] maoberlehner commented on #28
Ohh, took me a while to get your point 😅
Thank you for linking to a CodeSandbox, this made it a lot easier for me 👍

That's an interesting behavior which stems from the fact that `addresses` in the CodeSandbox example is not really an `Array`. `addresses` is an `Object` with a `get()` function which returns an `Array` (see https://vuejs.org/v2/guide/computed.html#Computed-Setter for reference). Th

[2018-10-07 22:28] anikolaev commented on #28
@maoberlehner In my case there was `isEmpty()` function of Lodash library which didn't work so I've replaced it to checking `length` property for 0. So that is not a big issue. Another minor issue is that Vue Dev Tools doesn't show the content of the variable.

[2018-10-09 11:48] greentunic commented on #16
May I ask if anything eventuated on this front?

Basically, I'm trying to access an array index, but in theory we could be wanting to pass in anything we want.

In my project, I customised the store instead, I then pass my extra parameter that I want on the _store_ side of things in the custom getters/mutations.

An example.

**Component**
`const { mapFields: mapSomethingFields } = createHelpers({

[2018-10-09 17:36] dasuchin commented on #16
I did something similar to @greentunic

I added a `currentlyEditing` index into my store that I set before any calls to map fields. Then extended the getter and setter to use that `currentlyEditing` to get/set the correct value. It seems to work pretty well.

[2018-10-09 19:41] greentunic commented on #16
@dasuchin That's basically what I've had to do.  Although it feels very bad practice to me to set a variable somewhere else before running a function. Scalability might not be great.

In the mapFields mutation function, it passes an object with "path" and "value".
If we could hook into that object and add our home, including on the getter, that would solve all this.

[2018-10-10 03:34] maoberlehner commented on #16
Thanks for providing more details! I'll look into this the following days!

[2018-10-10 03:37] maoberlehner commented on #16
May I ask one of you to fork https://codesandbox.io/s/4rroy51z8x and build a reduced version of what you're building using the workaround you've described? Thanks!

[2018-10-12 17:55] greentunic commented on #16
I'd be happy to once my schedule clears up a bit.

[2018-10-12 17:57] sentriz commented on #16
I was working on one, but then the thing got stuck on "transpiling modules"

[2018-10-15 12:40] xlanex6 commented on #43
@molerat619
+ 1 on this feature, it could be very very cool.

[2018-10-16 12:19] anikolaev commented on #43
@maoberlehner please consider this modification which implements the feature: https://github.com/anikolaev/vuex-map-fields/commit/fd0c1adf5d6766451bd3bfaae317ab4b690465b6

Usage is almost the same as for multi-row (array) fields.

In *.vue:
[code]
As you can see I used it to access data for selected series using specific getter and setter for that and storing selected series index in store too. Th

[2018-10-16 12:48] maoberlehner commented on #43
@anikolaev thank you for providing a code example. I'll take a closer look at the weekend 👍

[2018-10-16 12:54] anikolaev commented on #24
@wanxe Thanks for your ideas. I tried different approaches and just realized that it is better to store in Vuex store all the information required for calculation of the dynamic properties. In my case there is an object received from backend which has the following structure which is saved to the Vuex store:
[code]
In UI there is a master-detail form with the list of chart series when user can sel

[2018-10-17 18:44] anikolaev commented on #28
I think it can be easily solved setting `enumerable: true` in the 3rd parameter of `defineProperty()` here: https://github.com/maoberlehner/vuex-map-fields/blob/master/src/index.js#L77

[2018-10-22 20:06] AndrianD opened #46 "How to make mapping with html textarea?"
Hello,
Nice plugin, thank you . However how can I make two way data-binding with a `<textarea></textarea>` ?

Thank you for your answer.

[2018-10-23 11:20] anikolaev commented on #46
@AndrianD It works the same way as with any other field: https://codesandbox.io/s/o764zxq76y

[2018-10-23 11:59] maoberlehner commented on #46
Thanks @anikolaev for helping out!

[2018-10-25 15:51] Uelb commented on #41
Is it possible to add this case to the readme for now ? I actually struggled to understand where the issue was and I faced the exact same case. If I have time next week, I'll try to open a PR with a solution.

[2018-11-21 03:32] cory-weiner opened #47 "Map multi row fields inside of multi row fields"
I have an interesting use case that I'm not sure is possible with vuex map fields.

Assuming a state that looks like so:
[code]

You can use mapMultiRowFields to map the addresses. However, how would you handle the array of residents inside of the array? Trying to access the resident.name throws a mutation error when in vuex strict mode. Is it possible to mutate a nested array inside of array with

[2018-11-23 06:35] maoberlehner commented on #47
Hey @cory-weiner,

unfortunately this is currently not possible with `vuex-map-fields`.

Because I want to keep this package as minimal as possible, I'm also not planning to add this feature anytime soon. Sorry.

[2018-11-23 06:35] #47 closed

[2018-11-28 20:49] jonakirke94 opened #48 "Is it possible to access the value of the v-model?"
How can I get the value of the v-model so I can take actions depending on the value? It doesn't seem like you can access the v-model value

[code]

[2018-11-28 21:36] jonakirke94 commented on #48
It appears to work when mapping the object instead and accessing the properties on the object in the template:

`
<pre>{{app.id}}</pre>
<input type="text" v-model="app.id" name="id">

@Component({
	computed: {
		...mapFields({
			app: 'newApplication'
		}),
	}
})
`

Still baffled as to way the first example doesn't work. My state in my module is notated as this:
`newApplication: {} as Application`

[2018-11-29 06:37] maoberlehner commented on #48
Hey @jonakirke94!

There is a syntax error in the example you've posted: `` `id:` 'newApplication.id', `` (the backticks `` ` ``) around `id:` please make sure that you don't have this error in your actual code.

If not, please provide a reduced test case on CodeSandbox (you can fork https://codesandbox.io/s/38y88yvoo1).

Thanks!

[2018-11-29 06:37] #46 closed

[2018-12-06 18:42] stijnjanmaat commented on #43
Nice @anikolaev, using you fork for now :). Maybe useful for somebody: you need a getter like this

[code]

returning the whole `foo` object when `path` is empty. And a mutation like this:

[code]

[2018-12-06 20:03] anikolaev commented on #43
@stijnjanmaat It should work with library's getField() too:
[code]

[2018-12-07 04:36] maoberlehner commented on #43
Hey all! Sorry for letting you wait – I just want to let you know that I've not forgotten this. But I shifted my priorities to different projects for the last couple of weeks. I'll work on this as soon as I can free up some time.

Thank you for your patience!

[2018-12-07 11:40] anikolaev commented on #43
@maoberlehner I understand you. I've also shifted project and the new one unfortunately doesn't use Vue. But I hope you will find time to improve this lib as I found it very useful for complex forms.

[2018-12-09 05:04] smith153 commented on #41
Yes, this would be a great feature. I have many forms that are 100+ variables, really don't want to have to add defaults for every single one (and whether some fields are even shown depends on values of other variables, so you really don't have a concept of "defaults" in this case). Seems like an easy fix... though I suppose we could just wait for vue 2.6+ as I hear the requirement of forcing defa

[2018-12-17 05:43] maoberlehner commented on #48
Closing this because of inactivity. Feel free to open a new issue if this is still a problem. Thx!

[2018-12-17 05:43] #48 closed

[2019-02-07 23:57] Nicholaiii commented on #24
@maoberlehner
I stumbled upon this very issue today.
I personally think the issue is as easy as allowing keys to be a function, which should carry over the closure of the component. (Check [this related comment](https://github.com/vuejs-templates/browserify-simple/issues/6#issuecomment-345353402) out)

[2019-02-12 22:17] nmf2 opened #49 "Nested Properties with Multiple Levels"
Hello, @maoberlehner

First of all, thank you for this project, it has really helped me!

But I believe I've found a bug in it, basically it doesn't work with nested properties which have more than one level. Like so:

[code]

If I try to use something like:

`mapFields(['propA.propB.propC'])`

I get an error saying that I can't access propC of undefined.

[2019-02-12 22:45] #49 closed

[2019-02-18 06:34] blackinitial opened #50 "how to use mapMultiRowFields on nested state ?"
i use nuxt js, i want to implementation dynamic form like https://markus.oberlehner.net/blog/how-to-handle-multi-row-forms-with-vue-vuex-and-vuex-map-fields/
how to access mapMultiRowFields on nested state store, `bookingData.flight.passengers` ?
and i got error `store.getters[getterType] is not a function`

store/bookingData.js
[code]

component.vue
[code]

[2019-02-18 07:04] maoberlehner commented on #50
Hey @blackinitial!

Am I right that `bookingData` is a namespaced module? If so, this should help: https://codesandbox.io/s/2v042zjw0r

You can read more about dealing with namespaced modules here: https://github.com/maoberlehner/vuex-map-fields#namespaced-vuex-modules

[2019-02-22 18:34] max-frai opened #51 "How to specify namespace for mapFields through component props"
I want to pass `namespace` from vuex module with `props` but it seems to be impossible.

    <my-component namespace="ns1" />

    // my-component code
    export default {
      props: ["namespace"],
      computed: {
        ...mapFields(??this.namespace??, ["attr1", "attr2"])
      }
    }

Of course, there is no way to use `this` in such way so we don't have access to props. How can I specify

[2019-02-22 19:42] max-frai commented on #51
I found a dirty workaround. I rewrote method `mapFields` and calculate `getterType` in runtime:
[code]
Of course, this required `namespace` to be declared. I understand this is dirt and not for general usage, but maybe it's possible to rewrite `mapFields` with such functionality?

[2019-02-22 20:57] max-frai commented on #51
If it's okay, I can write pull request modifying `mapFields` with ability to specify inner prop name that we should use  in runtime for namespace calculating.

[2019-02-23 05:00] maoberlehner commented on #51
Hey @max-frai! Thank you for your input. If I understand it correctly, this is a duplicate of https://github.com/maoberlehner/vuex-map-fields/issues/24, please use the existing issue for further discussion (if it is no duplicate, please let me know and I'll reopen this issue).

I'll consider accepting a pull request if it can be done in a backwards compatible manner and I'm happy with the resultin

[2019-02-23 05:00] #51 closed

[2019-02-23 07:00] zainulabidin302 commented on #43
This is how I am using `vuex-map-fields` in my project. The object.* is working but in a slightly different way (without syntactic sugar).

[code]

[2019-02-25 13:00] fusionbeam opened #52 "updateField doesn't support broken paths"
I have to map an object with a two level depth of nested dynamic properties.
i.e. myContainer.$category.$name.value

I am calling commit('updateField', {path:`myContainer.${category}.${name}`, value:metric.value});
If $category has never been set separately this break with an error 'Cannot set property ... of null'.

This should be an easy fix, to ensure path safety by creating empty objects if th

[2019-02-25 14:07] maoberlehner commented on #52
Hey @fusionbeam! This seems to be the same as https://github.com/maoberlehner/vuex-map-fields/issues/41 (I know, the title is a bit misleading I guess)

Pull requests are welcome!

I'll close this issue, please use https://github.com/maoberlehner/vuex-map-fields/issues/41 for further discussion of the topic.

Please let me know if I miss understood your problem and I'll reopen this. Thanks!

[2019-02-25 14:07] #52 closed

[2019-02-27 18:49] fusionbeam commented on #52
@maoberlehner technically this is different but I can see how working on a fix for #41 can include a fix for this use case as well.
I'm working on a pull request.

[2019-02-27 21:34] gagagast opened #53 "mapMultiRowFields and nested row components ?"
Hi, congratulations for this amazing work !

I would like to know if we can handle this kind of situation with `mapMultiRowFields` helper ?

`Form.vue`
[code]
`Adress.vue`
[code]

[2019-03-02 05:04] maoberlehner commented on #53
Yes: https://codesandbox.io/s/2o1mlx3q2r

[2019-03-02 05:04] #53 closed

[2019-03-02 05:05] maoberlehner commented on #53
Ohh and Thank You :)

[2019-03-03 17:27] luchorengo opened #55 "mapMultiRowFields for nested arrays inside array"
The context of my use case is a store module for a customer object. A customer has many phones, many addresses and many contacts. Each contact has many phones and many addresses besides other basic info.
The structure of my module state is like:

[code]

Everything is working fine for the first array level: phones, addresses and contacts are mapped correctly.
Is possible to map the arrays inside t

[2019-03-04 14:08] fusionbeam opened #56 "github dependency not supported"
Current project configuration doesn't support GitHub dependencies.

Referring to it from another project package.json dependencies (i.e. "vuex-map-fields": "git://github.com/fusionbeam/vuex-map-fields#master") doesn't work. Results in a dependency not found vuex-map-fields build error.

[2019-03-05 10:24] maoberlehner commented on #56
This is not a priority for me. Thx for reporting.

[2019-03-05 10:24] #56 closed

[2019-03-05 21:33] fusionbeam commented on #56
@maoberlehner I did some research and all is needed here is to add ```"prepare": "yarn build"``` to package.json ```scripts``` section.

[2019-03-07 16:40] junyo commented on #55
+1

[2019-03-09 16:28] maoberlehner commented on #55
Unfortunately, this is currently not possible. I want to keep this package as simple as possible so I don't have any plans adding this feature. Although, if somebody finds a simple solution to this I'd consider accepting a pull request. Thx!

[2019-03-09 16:28] #55 closed

[2019-03-09 16:29] maoberlehner commented on #24
@Nicholaiii interesting idea! I'd consider accepting a pull request which adds this feature. Thx!

[2019-03-11 13:22] mehrunrasoli opened #57 "Use the simple method with Nuxt.js?"
Hey @maoberlehner.
I've been using computed set&get to enable the two-way binding for vuex states but seems using the [Basic example](https://github.com/maoberlehner/vuex-map-fields#basic-example) with this module is a really cleaner way!

however, I'm not sure how to implement this on my Nuxt.js project where every model has its own Store.
Tried to do the same way as basic example but I get this

[2019-03-11 16:52] leewisestamp commented on #41
Eagerly looking forward to this feature!

[2019-03-12 04:30] maoberlehner commented on #57
Hey @mehrunrasoli!

Nuxt uses namespaced Vuex modules by default: https://github.com/maoberlehner/vuex-map-fields#namespaced-vuex-modules

So if you have a file `store/user.js` than the namespace is `user`

[code]

[2019-03-12 13:47] mehrunrasoli commented on #57
WOW! it's now amazing!!
I going to try it soon.
Thank You!

[2019-03-12 13:47] #57 closed

[2019-03-13 06:33] SpencerTuft commented on #32
I don't know if this is a problem with the library (thanks for creating it btw) but I read the documentation wrong and implemented it poorly. I thought I'd share my scenario and fix with others just in case there are others that do what I did.

I ran into this issue when structuring my computed property in my Vue component, like so:
html:
`
<span>${{lo_price}}-{{high_price}}</span>
<slider id="pri

[2019-03-13 07:23] SpencerTuft commented on #32
@maoberlehner Great library! It's saved me a lot of time and effort coding setters and getters for two-way binding on forms. I ran into this error after switching to use this library and I'm not exactly sure why.

Here is a codesandbox of this error:
https://codesandbox.io/s/lpkl9oo9v9?expanddevtools=1&fontsize=14

The error occurs when using strict mode only (intended Vuex behavior). The stack tr

[2019-03-14 09:11] deka opened #58 "[Question] How to call mapped mutation outside component"
Hi,
Is it possible to call mapped mutation outside vue component ?

[2019-03-15 11:06] maoberlehner commented on #58
Hello!

You can call the `updateField` mutation like a regular mutation from everywhere. But you can't use `mapFields()` outside of a component. Does this answer your question?

[2019-03-15 15:38] deka commented on #58
I do not see the syntax to use
i have a namespaced module 'myModule', with a mapped state property 'prop' .

Something like ?
[code]

[2019-03-15 15:45] maoberlehner commented on #58
Almost:

[code]

The path is basically whats `user.firstName` or `user.lastName` is in this example: https://github.com/maoberlehner/vuex-map-fields#component-1

[2019-03-16 09:03] #58 closed

[2019-03-16 09:06] deka commented on #58
Thx. :satisfied:
With a chapter in the doc it will be top
:beers:

[2019-03-20 21:42] renattonl commented on #57
Hey @maoberlehner  Your answer has not helped me. When I reload the page I get:

![Captura de pantalla de 2019-03-20 16-38-59](https://user-images.githubusercontent.com/6575723/54721066-058a3300-4b2f-11e9-9811-c4f1d628bd95.png)

Help me!

[2019-03-20 22:29] renattonl commented on #32
Hey @maoberlehner  , When I write in a field, this appears:

![image](https://user-images.githubusercontent.com/6575723/54723210-cfe84880-4b34-11e9-9f40-cebef2b555de.png)

Use Version:

[code]

My file path store => `store/user/profile`

[code]

My component:

[code]

Help Me pls!

[2019-03-27 11:56] marianagarciaferreira opened #59 "[Vue warn]: Error in render: "TypeError: this.$store.getters[getterType] is not a function""
I'm trying to use more I always get this error

![Captura de Tela 2019-03-27 às 08 55 30](https://user-images.githubusercontent.com/36300077/55074098-2510e680-506e-11e9-9a0f-3fe3dfb02085.png)

[2019-03-28 17:57] maoberlehner commented on #59
Thank you for taking the time creating an issue. Please provide a [reduced test case](https://github.com/maoberlehner/vuex-map-fields/blob/master/CONTRIBUTING.md#reporting-issues) for the bug. You can clone one of the CodeSandboxes linked in the README to do so. Thanks

[2019-03-29 00:50] vodniciarv commented on #10
I also ran into this problem.
If use `store/index.js` file as a store - everything is ok.
But if you use `store/user.js`, when we call the function `mapFields`:
[code]
we get the error: `this.$store.getters[getterType] is not a function`

[2019-03-29 01:01] vodniciarv commented on #10
The problem is solved if you add `getField` and `updateField` in the main `store/index.js` file.

[2019-03-29 04:10] maoberlehner commented on #10
You have to use Namespaces, see https://github.com/maoberlehner/vuex-map-fields/issues/57#issuecomment-471853168

[2019-04-14 08:02] geh18 commented on #59
@marianagarciaferreira You might be using **namespaced: true**. Try including the name of the namespace in your mapFields function.

`...mapFields([
        'login/phone',
      ]),
`

[2019-04-14 09:21] maoberlehner commented on #59
Closing this because inactivity of the initiator.

Thx @geh18. That's very likely to be the problem.

[2019-04-14 09:21] #59 closed

[2019-04-30 10:22] grount opened #60 "Exposing multiple fields on complex object"
First of all thanks for your contributions, it is a great utility!

I am using Vuex with non namespaced modules.
I have a complex object that I would like to bind to a form, for example:

[code]
I want to bind the content of the key1...keyX to fields in my component.
I thought about exposing the structure field and then accessing it by structure.sectionA.key1.title, etc.. but it didn't work

[code

[2019-05-04 19:09] AousAnwar commented on #24
Run into the same problem where I needed a prop to get the id of the field within a list, the solution I came up with, is not very elegant, but it gets the job done :

1 _ Define a global variable `let self = '';`
2 _ Assign `self = this` in the `beforeCreate` hook
3 _ You have access to the vue instance from the global variable `self` (self.propName)
4_ Didn't test it yet with multiple instance o

[2019-05-06 03:26] maoberlehner commented on #24
@AousAnwar that's actually pretty clever 😅

[2019-05-12 07:32] maoberlehner commented on #60
Hello @grount!

As far as I can see, this should work. Can you create a reproduction link on CodeSandbox? (you can fork one of the examples in the documentation to get started) Thx!

[2019-05-14 03:19] spyesx commented on #24
Tested on a multiple instances. It doesn't work :/
Plus, be careful to your `slef.item...` instead of `self.item...`.

[2019-05-18 08:50] agm1984 commented on #24
I had the same problem here when the inputs' names were like `blah[0]`, `blah[1]`, etc.

I ended up leaving `...mapFields(['sample', 'a', 'b', 'c'])` for the normal fields, and for my "generated fields" with array names, I made a method.

Normally, for my field like `'sample'`, I would have markup like this:

[code]

But it wasn't actually a big deal to fall-back to the old technique that doesn't

[2019-05-21 23:31] blairdow commented on #38
Hey @maoberlehner I'm having the same issue with the getters throwing an error... where exactly would you put this jest.mock block? Sorry, I'm a bit new to vue test utils and jest.

[2019-05-24 14:33] mensonones opened #61 "How create new instance of component(array in form) without repeat values in store?"
I have form and inside his contains other component(indicators) based in object in store with vue-map-fields, but, i have create this component form with component(indicators) in new tab, but values in input in indicators equals form already filled.

[2019-05-24 15:02] maoberlehner commented on #61
Did you already read this article https://markus.oberlehner.net/blog/how-to-handle-multi-row-forms-with-vue-vuex-and-vuex-map-fields/ ?

Otherwise I need more informations. CodeSandbox link would be appreciated.

[2019-05-24 15:12] mensonones commented on #61
Yes, I Read. In my case, i reuse component that contains form and component based in object in store. I would like to know how I can create a new instance of this form without repeating the values already entered in a new form. This new form does not lie in another component of tab.

[2019-06-05 13:14] #61 closed

[2019-06-09 07:07] maoberlehner commented on #38
Hey @blairdow usually you put it as close to the code where you're relying on the mocked functionality as possible. In some cases it might be good to mock it globally for every test as it is described here: https://jestjs.io/docs/en/setup-teardown.html

[2019-06-12 07:13] fabien-michel opened #64 "Unable to bind on array specific index"
Hi,
Trying to use mapFields with an index of array (something like `addresses[0]` ) is not working.
The bind is simply doesn't made whereas it work with a nested value. `addresses[0].town`

[code]
Sandbox demo of the issue:
https://codesandbox.io/embed/vuex-map-fields-nested-properties-06fb7

[2019-06-12 12:27] maoberlehner commented on #64
That's not possible with this package. But you can use `mapState` if you only want to read `addresses[0]`.

[2019-06-13 18:52] marceloavf commented on #64
Even something like `addresses[0].town[0]` is not possible @maoberlehner ?

[2019-06-19 02:48] tommy-dev commented on #43
Would it not be better just to do this to get the entire object?
    ...mapFields(["myObject"])

Adding an asterisk * introduces a new thing that is not needed.

[2019-06-30 22:18] reslear opened #65 "array push"
does not pass mutation when .push() to an array.
example - in store: `image_array : [],`
in component:
[code]
detour to not write in mutations all the time:
[code]
1. Is it planned to add functionality?
2. Is there a alternative detour?

[2019-07-17 07:07] jmsuresh commented on #7
In my case, I want to map an Object and access property by key value. Please consider adding this feature. Thanks.

[2019-07-28 22:43] #65 closed

[2019-07-30 07:48] pasudo123 opened #66 "I have a question about data binding in vuex (on initialized)"
- The component A is a dialog, which uses mapFields.

After changing the state value of vuex, we initialized the specific state value of vuex when the dialog is subsequently closed.

However, the v-model data in the mapfield of the dialog has not been initialized.

When viewed with vue devtool, the state value has been initialized but the value visible in the dialog has not been initialized.

I wa

[2019-07-30 08:00] maoberlehner commented on #66
Hi! I think you have to mutate the root property `iSelectedRuleData` in your mutation.

[code]

[2019-07-31 00:39] pasudo123 commented on #66
Sadly, it is not initialized.

__This code is called when the dialog is closed.__
[code]

__This code is internal to the method.__
[code]

Is this because the data remains in the V-TextField as a payload?

I do not know..

[2019-07-31 02:55] maoberlehner commented on #66
That's great! :)
So can we close this?

[2019-07-31 04:10] pasudo123 commented on #66
yes 👍

[2019-07-31 06:52] #66 closed

[2019-08-01 01:48] pasudo123 opened #67 "I did not understand. How to use vuex with modules and mapFields"
I read ReadMe and tried to read the [link](https://github.com/maoberlehner/vuex-map-fields/issues/18) here but it did not work out well. So I was asked.

I am using several modules in vuex. Each module accessed from the component via getFields and updateFields, but a conflict occurred and I tried to identify it as a module, but it did not work.

my code

__store.js__
[code]

__ruleModule.js__
[cod

[2019-08-01 07:10] maoberlehner commented on #67
Hello! Thank you for writing this very detailed description of your problem. But it's much easier if you can provide a minimal reproduction of what you want to achieve or your problem.

You can fork this CodeSandbox as a basis: https://codesandbox.io/s/mo7j05j6vy

Thx!

[2019-08-01 13:19] pasudo123 commented on #67
Wow !

Thank you very much. I wrote the code separately to perform only that part and it was fixed.
Thank you.

__component : template area__
[code]

__component : script area__
[code]

__store.js__
[code]

__a0.module.js__  (The a0.module.js file is configured identically.)
[code]

Thank you again for your kindly reply. 👍

[2019-08-01 15:39] #67 closed

[2019-08-03 01:23] TheHomeRepo opened #68 "Using mapFields array with object for renamed properties"
Hi @maoberlehner

Is it possible to use mapFields with your object properties and renamed object properties?

I tried a few different ways, but none worked:
[code]

[code]

Is it possible to use both together with mapFields?

[2019-08-12 09:19] mb3rnard opened #70 "How to manually get store properties in the component"
I think it would be useful to say somewhere in the docs that you can manually retrieve your fields from the store in your component with the `getField(yourField)` method, in a computed property for example, like so:

[code]

I  struggled for a bit to find that because I was expecting it to behave just like a regular mapped getter by calling directly `myField()`

[2019-08-12 09:31] #70 closed

[2019-08-14 09:34] fabien-michel commented on #24
Here an updated version of @wanxe solution _mapDynamicField_ we are using in our project

[code]

[2019-08-19 15:43] AndeeZee opened #71 "How to use map-fields with module decorators?"
Hello!
I want to use vuex-map-fields with vuex-module-decorators: https://github.com/championswimmer/vuex-module-decorators.
However, due to the different syntax, I'm currently lost, how to set it up for a dynamic namespaced module.
Any help is appreciated.
Kind regards,
Andy

[2019-08-19 23:14] joshkpeterson commented on #24
There's another example in this SO answer for nested fields instead of namespaced:
https://stackoverflow.com/a/55544842

[2019-08-25 12:38] maoberlehner commented on #71
Hello! Unfortunately I don't have any experience with that. But maybe somebody else can help you.

[2019-08-30 11:27] AlexSHoffman opened #72 "Why does mapMultiRowFields exist?"
The docs don't really explain what's the difference between `mapFields` and `mapMultiRowFields`. And the following code from the example page works exactly the same with both of these, so what's the difference?

## Using `mapFields`

[code]

## Using `mapMultiRowFields`

[code]

Does `mapMultiRowFields` allow you to commit mutations of nested properties and `mapFields`
 does not? e.g.:

[code]
or

[2019-08-30 13:44] maoberlehner commented on #72
But now that you say it, I definitely agree that the text in the readme doesn't do a great job of explaining it and neither does the example code.

This article explains it in detail: https://markus.oberlehner.net/blog/how-to-handle-multi-row-forms-with-vue-vuex-and-vuex-map-fields/

[2019-08-30 13:44] #72 closed

[2019-08-30 14:19] AlexSHoffman commented on #72
@maoberlehner thanks for the link and for creating this module in general, it's quite nice!

[2019-09-04 02:58] giggleloop commented on #68
Just a user here, but the mapFields function can only take an Array or an Object, not both. You could quite easily create two different mapFields for each, a la:

[code]

[2019-09-09 15:26] add1ct3dd opened #73 "debouncing updateField when using mapMultiRowFields (or any other)"
Hi,

I'm using the plugin currently with great success, but as we get to more complex forms I'm finding myself wanting to debounce the store events so we reduce the commits and subsequent actions, but cannot currently see a way to do this.

I already have a store.subscribe which listens to the specific store module updating, by checking for mutation type 'some/store/module/updateField', which is f

[2019-09-10 11:31] maoberlehner commented on #73
Hello,

I thought about this but for me it never was a problem.
You can also use the `.lazy` modifier https://vuejs.org/v2/guide/forms.html#lazy if you're concerned about performance.
I want to keep the code of this package as minimal as possible so there won't be debouncing built in any time soon. Sorry.

[2019-09-10 11:31] #73 closed

[2019-09-11 12:14] OuZuYu opened #74 "Question: How to push an item into an array"
Such as this example
https://codesandbox.io/embed/vue-template-zthyf

When I push an object it will error

[2019-09-16 07:41] nowrap opened #75 "Question: How to use vuex-map-fields with typescript?"
Hello,
i am trying to use vuex-map-fields with typescript. The custom definition file here in the issues section i found.

But i am not getting the computed / ...mapFields expression to work in typescript. With javascript it works like a charm.

Thank for any advises!
.nowrap

[2019-09-26 13:40] JBO0560 commented on #24
@fabien-michel could you create a jsfiddle or somthing else?
Currently I'm unable to access my data...

`...mapDynamicFields('', ['myNestedField.subArray[].key'], 'startIndex'),
        startIndex(){
            return 0;
        }`

I don't understand the namespace part in front...can someone explain it?
Thanks very much :)

[2019-09-29 10:38] maoberlehner commented on #74
You have to push directly into `addresses` and not overwrite `addresses`.

See: https://markus.oberlehner.net/blog/how-to-handle-multi-row-forms-with-vue-vuex-and-vuex-map-fields/

[2019-09-29 10:38] #74 closed

[2019-09-29 11:46] maoberlehner commented on #68
Thx @giggleloop!

[2019-09-29 11:46] #68 closed

[2019-09-29 11:52] maoberlehner commented on #64
No. That's what `mapMultiRowFields` is for if it fits your use case.

[2019-09-29 11:52] #64 closed

[2019-10-20 08:43] wingsico commented on #50
I solve it with:
[code]

I think it will be helpful for you!

[2019-11-13 21:01] jmacnc opened #78 "v-model a dynamically changing array"
I am working on creating custom fields in my application. I am allowing clients to define custom fields for various objects (ie. Initiative) and displaying them when updating or creating that object.

In my state I define the object being modified or added:

(initiatives.js)

    addEditInitiative: {
            name: '',
            description: '',
            product_name: '',
            produ

[2019-11-30 01:50] vemmkof commented on #26
The other way to add v-m-f with ts is:
[code]

[2019-12-11 14:05] MLDMoritz opened #79 "Nested properties"
Hey there,

Imagine following structure:

[code]

The address is passed to another Component, like `<AddressForm :form="address" />` and accesses its sub-properties.

I think currently it's not possible to do that. I tried several ways but the output is not what I would expect:

[code]
returns `{ "country": {}, "locality": {}, "postalCode": {}, "streetAddress": {} } `

[code]

returns nothing.

Is

[2019-12-13 04:48] hackel commented on #79
mapFields generates helper functions for each field.  You need to put it directly in computed.  Is `'user/create-corporation'` really the name of your vuex module?  Maybe read through the documentation again.  This really isn't the right place to go for support.
[code]
`this.country` will set/return the value of `$this.store.state['user/create-corporation'].form.postalAddress.country`

[2019-12-13 12:25] MLDMoritz commented on #79
It works that way, the problem on my side is that I have 2 address objects. If I manipulate that nested object it mutates the store directly without using the helper functions.

`this.form.address.country = 'DE'` results in that error.

[2019-12-15 22:56] HunterHillegas opened #80 "Changing attribute on nested object throws mutation error."
Hi,

Great utility. I'm new to Vue but it's saving me a ton of code. I am struggling with one aspect and I can't tell if I'm hitting an edge case or what.

Taking this example:

https://codesandbox.io/embed/vuex-map-fields-multi-row-fields-113i4?fontsize=14&hidenavigation=1&theme=dark

I've extended the address multi-row example so that the addresses include an object with a couple of parameters t

[2019-12-25 01:53] miketimeturner commented on #24
If anyone is interested this is how I do it

[code]

[2020-01-05 21:53] wdavies973 commented on #24
Building off @wanxe and @fabien-michel solutions, I've modified `mapMultiRowFields` to a dynamic function as well:

[code]

[2020-01-08 03:20] lhy666 commented on #75
you can do like this:
`@Component({ computed: mapFields(['wordDetailsTemp.word']) })`

[2020-01-13 09:34] kms-rscholz opened #81 "[Vue warn]: Computed property was assigned to but it has no setter."
For some reason, I get the following error when using `mapMultiRowFields`:

[code]
Anything wrong with the following syntax?

[code]

[code]

[2020-01-13 10:37] kms-rscholz commented on #81
Same result for:

[code]

[code]
computed: {
    entries: {
      get() {
        return this.$store.state.updated.brand.general_info.milestones.entries
      },
      set(value) {
        this.$store.commit('updateField', {
          path: 'updated.brand.general_info.milestones.entries',
          value: value
        })
      }
    }
  }
[code]

[2020-01-13 13:08] maoberlehner commented on #81
You can't use `v-model` on `entries`. When you want to use `mapMultiRowFields()` You must iterate over `entries` and use `v-model` on each `entry`.

See: https://github.com/maoberlehner/vuex-map-fields#component-5

[2020-01-13 13:08] #81 closed

[2020-01-13 13:12] maoberlehner commented on #80
Hi!

In you example, `address` is a regular object. So when you change `address.zip` via `v-model` you indeed mutate the state directly.

`vuex-map-fields` can only detect changes to `address` directly. It is not intended to be used the way you do in your example. Sorry.

Take a look at https://davestewart.github.io/vuex-pathify/#/ maybe this works better for your use case.

[2020-01-13 13:12] #80 closed

[2020-01-16 09:10] alexsonnay opened #82 "Cannot read property 'map' of undefined"
Nice package !

I get Cannot read property 'map' of undefined error though with this setup.

Any idea how would it work if I want to commit the input value and the selected options in the same store object ? (without the "label" string so that the object I send matches my Vuex store object) ?

Template
[code]
[code]
Store
[code]
[code]

[2020-01-16 12:03] alexsonnay commented on #55
+1 Did anyone find a solution ?

[2020-01-17 11:09] marekkaczkowski opened #83 "v-model.lazy is acting the same way as regular v-model"
**Expected behavior**
`v-model.lazy` on input should trigger `updateField` on input blur.

**Current behavior**
`updateField` is triggered on every key-press; `lazy` modifier is ignored on `v-model`.

[2020-01-20 03:31] ansidev opened #84 "Question about map computed field"
I have a question about map computed field.

I have Vuex Store state:

[code]

The form has 2 input fields: countryCode and phoneNumber.
I want the phone value to be updated based on coutryCode and phoneNumber.

How to solve the problem with vuex-map-fields? Thanks.

[2020-01-20 10:56] ansidev commented on #84
The answer is here: https://stackoverflow.com/questions/59816698/map-computed-field-with-vuex-map-fields

[2020-01-20 10:56] #84 closed

[2020-01-29 08:23] vanjoechua opened #85 "Using mapMultiRowFields with a v-data-table results in Error"
Hi,

I've been trying to make the mapMultiRowFields function on my v-data-table (vuetify) work properly. As soon as I change any of the text fields inside this v-data-table I get this error:

"Do not mutate vuex store state outside mutation handlers"

Here is my vuex store

const state = {
    //current data. can either be a loaded existing contract or a new unsaved contract
    current: {

[2020-01-31 18:39] Imboga opened #86 "Watching changes on mapMultiRowFields"
In my case scenario, I need to set a property based on another property. Let me explain it better:
I have an array of invoice details:
[code]
My store module simply looks like
[code]
and my component is mapping in this way
[code]
Question is: how can I set de `detail.amount` with the `detail.product.price` when the product is selected/changed? I need to use it as a suggested price but keep the `de

[2020-02-21 22:18] Adrek commented on #49
I have same error. When I access to propA level is correct. but when I access level Prop B o C appears this error:
"Property or method "formInfo" is not defined on the instance"

[2020-03-08 07:03] maoberlehner commented on #82
Thanks for taking the time to post your code! But it is still a lot of work to replicate this myself without a working reduced test case. Please create a [CodeSandbox](https://codesandbox.io/s/94l98vx0p4) which replicates your problem. Thx.

[2020-03-08 07:07] maoberlehner commented on #83
I don't think that this is the case.

[Checkout this demo](https://codesandbox.io/s/94l98vx0p4) and change `v-model` to `v-model.lazy` it works as expected.

I think you are confusing this with `v-model.lazy` [not working on custom input components](https://github.com/vuejs/vue/issues/6914). This has nothing to do with this package.

[2020-03-08 07:07] #83 closed

[2020-03-08 07:09] maoberlehner commented on #85
Thanks for taking the time to post your code! But it is still a lot of work to replicate this myself without a working reduced test case. Please create a [CodeSandbox](https://codesandbox.io/s/94l98vx0p4) which replicates your problem. Thx.

[2020-03-09 06:05] vanjoechua commented on #85
Thank you for replying to my question. I have since done a sort of bypass
to overcome this issue. You can close this issue for now.

On Sun, Mar 8, 2020 at 3:09 PM Markus Oberlehner <notifications@github.com>
wrote:

--
Van Joe Chua

[2020-03-09 13:44] carlosvega opened #89 "How can I use this library with no bundling?"
I'm trying to include this module in as:

`<script type="text/javascript" src="/static/vendor/node_modules/vuex-map-fields/dist/index.esm.js"></script>`

But afterwards is not possible to use any of the modules and functions.

I know the appropriate way to develop would be to bundle everything together etc and use a different approach but we are dealing with flask assets etc and would like to try

[2020-03-16 10:39] jdinartejesus commented on #41
Same here, I'm currently having the same issue even after update to V1.4.0.

[2020-03-27 14:44] angelobarandino opened #92 "mapped fields using @vue/composition-api"

[2020-03-31 21:55] ZeNiRe commented on #85
Could you share your bypass?

[2020-04-01 05:40] vanjoechua commented on #85
Hi Peter,

Instead of using mapMultiRowFields to update the data, I used a normal vuex
action. I used the getter part of your plugin to get the data.

Thanks,

Van Joe

On Wed, Apr 1, 2020 at 5:56 AM Peter <notifications@github.com> wrote:

--
Van Joe Chua

[2020-04-09 11:22] pearofducks commented on #92
@angelobarandino - I made a plugin for this that's inspired by this module:

https://github.com/pearofducks/vuex-use-fields

[2020-04-28 20:21] JLopeDeB commented on #81
Hi @maoberlehner, I came across the same issue while trying to use mapMultiRowFields on a Vuetify.js [ v-autocomplete with chips](https://vuetifyjs.com/en/components/autocompletes/#dense). Do you have any suggestion for that case? Thank you, the library is super useful.

[2020-04-29 11:52] ratondeau commented on #43
Yes that is exactly what I am looking for. I have a formData object where all the field data gets in. Then I want to bind it via v-model to this data. It is a plain Object with no nested elements as i break array structured down to and index identifier.
The form can get quite complex as it uses tabs and inline elements (composed from other relations) so a more generic approach would be appreciated

[2020-04-29 16:04] MigFerreira opened #93 "Question: Vuex map fields memory"
Hi I know this is general vuex question but since I'm using this mapper thought Id ask it here.

If I use store data in a component does it get duplicated in the runtime?
So if I'm using the same state in 10 different components does this mean the data occupies 10x its space during the lifetime of the components?

[2020-05-14 01:18] mrdigitalau opened #96 "Committing to binded field"
Hey there,

I have a bit of a weird one.

I have a form which is bound to my store using this plugin - it works awesome! Thank you.

The only thing I want to do is on mount, to automatically assign something to one of the form fields.

For example, I have a select field with options ['red','green','blue];
There is a v-model on this select field which is mapping my 'colour' field in my store.

I ca

[2020-05-14 17:55] maxcorbeau opened #97 "FEATURE REQUEST: Provide debug info on updateField"
First thanks so much for this project, what a time saver....

I was wondering if Vue/Vuex architecture would allow to do the following: whenever **updateField** is called, **automatically feed an additional **debug property** in the **payload** (along with the existing **path** and **value**), so we know "where" the mutation happened from, for instance by providing the names of the **component/met

[2020-05-15 13:42] lazycesar opened #98 "mapMultiRowFields doesn't call the mutation"
Hola!
I pushed an object inside my state
[code]
if I try to change the zip status with dot string notation (address.town.zip) no mutation through updatefield is called

if I change 'address.street', the updatefield mutation is called correctly,

I'll leave you the sample code.
https://codesandbox.io/s/vuex-map-fields-multi-row-fields-l0q02?file=/src/main.js
If you open the console you can see the

[2020-05-16 18:10] Maxiride opened #99 "Can't use a parameter as an array index in mapFields"
In a modal to edit a specific client details I am trying to load the infos about that client.

In the Vuex store clients are stored as an array of objects, normally I would load a client details by its index however the syntax shown in the examples to handle arrays works only with an explicitly set value. If I pass a prop or other parametrized value the mapped fields reports "error during evaluati

[2020-05-19 12:05] hendrikeng opened #100 "Trying to asign v-model in a loop via a variable"
Hey there, thanks for the great work!

I am trying to bind v-model via a string which get from my data function, that works if I bind it directly.
It doesn't work if I try to fetch the name of the computed property in a loop from data...is there any way to make it work?

Example:

https://codesandbox.io/s/vuex-map-fields-rename-properties-yj1cd?file=/src/App.vue

[2020-05-25 16:21] geoidesic opened #101 "How to use this if my stores are modularised, webpackified and not exporting default?"
So my store looks like this
[code]
In `getters.js` I have this:
[code]
and in the `index.js`
[code]
So I can't figure out how to implement `getField` and `updateField` in this context?

[2020-05-25 20:08] geoidesic commented on #59
In the docs it says that you can do this for namespaces modules:
[code]
but the problem is that you end up with a computed property called `login/phone` instead of just `phone`.

[2020-05-26 10:43] geoidesic commented on #101
Actually this works as per the example in the docs: https://codesandbox.io/s/m51j02794p

I had some trouble porting it into my app but after building my own basic example in codesandbox, then porting that into a freshly created project on my Vue framework, I was able to port it in.

[2020-05-26 10:43] #101 closed

[2020-05-26 12:57] geoidesic opened #102 "Why is there no matching mutator included for mapMultiRowFields?"
It seems to me that there should be an `updateMultiRowField` mutator included as standard which should work with dot notation paths also.

In the only `mapMultiRowFields` example in the docs, it uses a custom mutation which does not handle dot notation, which seems like a very limited use case.

[2020-05-26 13:13] geoidesic commented on #102
Ok no, nevermind. I was completely misunderstanding. It uses the normal `updateFields` mutation for each row. The custom mutation is to add a new row.

[2020-05-26 13:13] #102 closed

[2020-05-29 09:11] geoidesic commented on #35
@RVeligotskiy can you please show the data definition that did work? So that we can see the difference.

[2020-05-29 09:26] geoidesic commented on #35
@maoberlehner If you create a separate independent computed value that points to `chacteristic` then that reference to the store will not render empty.

See here for example of this based on above example: https://jsfiddle.net/noeldacosta/o1ae65nd/7/

This suggests that this is a reactivity issue. This is highlighted by the buttons I've added. If you view the inspector you will see that the aliase

[2020-05-31 16:16] geoidesic commented on #100
@hendrikeng See `mapMultiRowFields` example  https://codesandbox.io/s/yj1xxx8kn1

[2020-05-31 16:20] geoidesic commented on #99
@Maxiride It's not a bug. Firstly your javascript is wrong, it won't parse as javascript, nevermind via this library. What you probably mean is this:
[code]
However even that won't work because mapFields isn't designed to handle collections, only trees. If you have collections, then see `mapMultiRowFields` example https://codesandbox.io/s/yj1xxx8kn1

[2020-05-31 16:26] geoidesic opened #103 "Custom getter for multiRowInputField"
`createHelpers` allows one to override the helper that will be used by a given `mapFields` assignment, which is great. But what about `multiRowInputField`? I have a scenario where some of the fields in the row actually need a custom getter while others do not. Is there a way of achieving this?

[2020-06-01 08:21] geoidesic commented on #103
It's not documented but I found a way to do this.

By creating a custom updateField method I can test for the signature of the field values (i.e. objects) that need to be handled differently:
[code]
Then I can assign this handler to the multiRowField (as per the example: https://codesandbox.io/s/yj1xxx8kn1)  and it will vary the update value accordingly:

[2020-06-01 08:21] #103 closed

[2020-06-01 08:56] geoidesic commented on #98
Multi-row fields don't work in that way. The field that is mapped is the collection and the default `updateField` method assumes that each repeating property will simply contain a value. So the dot notation in `v-model` should be limited to a single dot.

You should also be getting the following error:
`Error: [vuex] do not mutate vuex store state outside mutation handlers.`, not sure why that's n

[2020-06-01 18:29] hendrikeng commented on #100
@geoidesic thanks for your answer. But that also wouldn't work with dynamic object keys as v-model from a string.

[2020-06-02 08:02] geoidesic commented on #100
Then I don't understand the question nor what you are trying to do. From looking at your code, you are using a v-for loop with `mapFields`, however `mapFields` doesn't work for loops. So the starting point is; make use of `mapMultiRowFields`. I suggest edit your example in that direction and then perhaps what you are trying to achieve and the actual problem you are having will be more clearly illu

[2020-06-02 08:27] geoidesic commented on #100
@hendrikeng have you looked at the library code?
You are doing this:
[code]
Simply passing strings to mapFields but somehow expecting these to magically link up with data. There's no such linkage. What mapFields does with those strings is interrogate the vuex store. There's no reason for it to link that with `data`.

You might try something like:
[code]
Which would pass the value from `data` as th

[2020-06-08 10:15] geoidesic commented on #86
The way I handled this is with an `@input` directive. You pass in the row index as a parameter, call the `updateField` mutation in the method, using the row index in your path, e.g.
[code]

[2020-06-08 10:36] geoidesic commented on #79
Hi. Firstly I think you may have the wrong path to you field. Your shown data structure does not show a `form` node, nor a `postAddress` node.

If you want to manipulate the stored data then you must use `this.$store.commit('updateField',{someDataStructureHere})`. However if you get your structure and model names mapped correctly then you shouldn't need to do that manipulation explicitly.

Maybe b

[2020-06-08 10:38] geoidesic opened #104 "Is this repo still being actively maintained?"
Hi.

It has been several months since the repo owner was last active here. Please advise.

[2020-06-08 12:05] evry-johan opened #105 "Mutations doesn't show up in Vue devtools"
Hi, first of all, thanks for a great package, just what I was looking for.

I'm just curious why the mutations doesn't show up in Vue devtools? The state seems to be updated correctly

[2020-06-08 12:07] maoberlehner commented on #105
Maybe you're mutating your state directly?

Usually vuex-map-fields mutations do show up in devtools.

[2020-06-08 12:09] maoberlehner commented on #99
Thanks @geoidesic for answering!

[2020-06-08 12:09] #99 closed

[2020-06-08 12:09] maoberlehner commented on #98
Thanks @geoidesic for answering!

[2020-06-08 12:09] #98 closed

[2020-06-08 12:12] evry-johan commented on #105
@maoberlehner Currently, this is what I'm doing:

component:
[code]

the order store module:
[code]

Shouldn't I be able to manipilate the mapped field `list` from my component?

[2020-06-08 12:14] maoberlehner commented on #97
This is a compromise that you make when you use this package. If you want to be able to track exactly where which state mutation is triggered, you should use custom mutations. This is one of the main reasons why the state is modified via mutations in Vuex and similar packages.

[2020-06-08 12:14] #97 closed

[2020-06-08 12:15] maoberlehner commented on #96
– https://github.com/maoberlehner/vuex-map-fields/blob/master/CONTRIBUTING.md#reporting-issues

[2020-06-08 12:18] maoberlehner commented on #93
No, it is only loaded in memory once.

[2020-06-08 12:18] #93 closed

[2020-06-08 12:18] maoberlehner commented on #92
Cool

[2020-06-08 12:18] #92 closed

[2020-06-08 12:24] maoberlehner commented on #89
If you target modern browsers you can use ESM.

[code]

Otherwise you can use the UMD build.

[code]

[2020-06-08 12:24] #89 closed

[2020-06-08 12:27] maoberlehner commented on #86
For more advanced use cases, you might consider to use https://davestewart.github.io/vuex-pathify/#/ instead of this package.

Otherwise, you can use the approach @geoidesic provided.

[2020-06-08 12:27] #86 closed

[2020-06-08 12:28] evry-johan commented on #105
@maoberlehner I guess this is related to https://github.com/maoberlehner/vuex-map-fields/issues/65 and https://github.com/maoberlehner/vuex-map-fields/issues/74. Is the current solution to add custom splice and push mutations for such actions?

[2020-06-08 12:28] #82 closed

[2020-06-08 12:28] #85 closed

[2020-06-08 14:21] geoidesic commented on #104
Yes. I'd be happy to help maintain it. I have one big question which I would like to get your opinion on at the moment. I will post a separate issue with a codesandbox example.

[2020-06-08 14:47] geoidesic opened #106 "Nested mapMultiRowFields – a different approach"
Probably the most requested feature and problem that people run into with this library is how to handle nested arrays of fields. Currently there is no solution in hand and for some forms, managing this is simply crucial. As an example imagine you are creating a form which has a list of countries (an array of objects) each country has a number of properties, one of which would be a list of expenses

[2020-06-10 19:26] bryanbuchs opened #108 "Validate before update in component?"
I'm trying to validate input (w/ vuelidate) and need to stop a commit from happening if it fails.  I see where I can write a custom mutation, but that doesn't have access to the validation object I need.

Is there component-level access to override the computed get/set methods?

[2020-06-11 14:19] geoidesic commented on #24
@miketimeturner what does `this.get('suppliers')` do in context? Could you show your state please? I'm not sure I understand your example.

[2020-06-11 14:20] geoidesic commented on #24
@wdavies973 Could you please show how this would be implemented in the component's `computed` property?

[2020-06-11 18:47] miketimeturner commented on #24
That's just a helper function that gets the state "$store.state.suppliers" not really important for this  to work. The mapFields function just uses the result to map the properties

[2020-06-11 23:29] wdavies973 commented on #24
@geoidesic You can check out my project here: https://github.com/RobluScouting/master-desktop/blob/master/src/components/metrics/RCheckbox.vue

[2020-06-16 10:07] geoidesic commented on #24
Ok tx. Why do you first import `mapFields`, then export your own function with the same name?

[2020-06-17 10:59] miketimeturner commented on #24
The mapFields export is what you're importing. (Not this package) Just put it in its own file and import it where you need it. And use it like this...

`...mapFields('propertyName', ['fieldOne', 'fieldTwo'])`

[2020-06-19 03:48] mrdigitalau opened #109 "Large object field mapping"
Hey mate,

Thanks for this spectacular plugin.

I have a question I can't seem to wrap my head around.

I have a large object, it's an application form.

I have an object like this (BUT much larger) in my store::

[code]

I have mapped it to my store
`
...mapFields(['application']),`

If I create a text input and use v-model="application.fname", when looking inside of my Vue Chrome Plugin, the sto

[2020-06-19 07:57] geoidesic commented on #109
@mrdigitalau `mapFields` doesn't support that unfortunately. The way you are working with it breaks reactivity. The point of using a store is to share your data between components. If it's not in the store then you won't be able to do that. So it's up to you whether you need the store or not.

You might want to try `dynamicMapFields` as per https://github.com/maoberlehner/vuex-map-fields/issues/24

[2020-06-19 08:00] geoidesic commented on #108
You can pass whatever you want into a mutation as a parameter. I'm not sure what you mean by `component-level access`. The examples show how you can build your own custom mutation.

[2020-06-19 08:19] geoidesic commented on #106
After a great deal of trial an effort, it's clear that this isn't possible by means other than those detailed here: https://github.com/maoberlehner/vuex-map-fields/issues/24#issuecomment-642980556

[2020-06-19 08:19] #106 closed

[2020-06-19 08:21] geoidesic commented on #78
@jmacnc Have a look at issue #24. Specifically the solution: https://github.com/maoberlehner/vuex-map-fields/issues/24#issuecomment-642980556

This allows you to use dynamic paths in your mapping, which sounds to me like what you're attempting to do.

[2020-06-24 08:16] silvesterwali opened #110 "how to user vuex-map-fields with cdn ?"
hi...  i new to use vue . first sorry for my english may not good so far...#ask so i working with vue and vuex with cdn..im working with multipe form input with two data binding so i want to make every v-model get value or data from vuex.but i have problem how to update every object inside the vuex state
im find the solution to use vuex-map-fields with cdn https://www.jsdelivr.com/package/npm/vuex

[2020-06-26 09:53] maoberlehner commented on #110
Hello! I answered this here: https://github.com/maoberlehner/vuex-map-fields/issues/89
Hope that works. Thanks!

[2020-06-26 09:53] #110 closed

[2020-06-26 15:19] silvesterwali commented on #110
this so helped terima kasih ... @maoberlehner

[2020-07-20 00:25] Jayboy75 opened #112 "Passing Mapped Fields as a Prop"
I have a list of records in my vuex store (array of objects).

When a new record is created, blank form values are created within a 'newRecord' object, then that form's user-entered data is inserted into the main list on save.

When an existing record is edited, form values are pulled into an 'editExistingRecord' object and then the user-entered data replaces the main list object on save.

I'm usi

[2020-07-28 08:14] rylax opened #113 "Are you supposed to use array methods directly on the computed properties?"
I am using vuex-map-fields in my nuxt application and I have encountered an interesting behavior while using array methods in my component.

I have a variable called myArray stored in the vuex store which I am accessing in my component through:

` computed: {
    ...mapFields(["myArray"])
}`

While `this.myArray.push()` throws an error with the message "You should not directly modify the vuex stat

[2020-07-28 12:41] heiheshang opened #114 "context.commit"
how to do context.commit ? I used to call my method, what should I do now?

[2020-07-28 19:29] maoberlehner commented on #114
I have no idea what you’re talking about.
See https://github.com/maoberlehner/vuex-map-fields/blob/master/CONTRIBUTING.md#reporting-issues for information how to write a proper issue. Thanks!

[2020-07-28 19:33] maoberlehner commented on #113
No. Don’t use array methods. You must override the field value with this.myArray = value.
I don’t know why push triggers the error and splice not. But that’s a Vuex thing. Both (and all other) array methods mutate the state directly which defeats the point of using Vuex.

[2020-07-28 19:33] #113 closed

[2020-07-29 00:51] heiheshang commented on #114
if I use updateField, then which method should I call in context.commit. I have an item field, what will be the name of the method that is generated automatically?

[2020-07-29 04:11] maoberlehner commented on #114
Still no idea what you're talking about. What is context.commit?
Please see https://github.com/maoberlehner/vuex-map-fields/blob/master/CONTRIBUTING.md#reporting-issues for information how to write a proper issue. Thanks!

[2020-07-29 04:30] heiheshang commented on #114
`const state = {
        items: []
}
const getters = {
    getField
}
const mutations = {
    updateField
}
const actions = {
        ITEMS: async (context, payload) => {
                context.commit('SET_LOADING', true)
                await axios.post('/api/model/amiro/post/list', {
                        queryid: uuid.list
                })
                        .then(data => {

[2020-07-29 04:50] maoberlehner commented on #114
Create you own [mutation](https://vuex.vuejs.org/guide/mutations.html) for setting `items`.
In theory you can (ab)use the mutation created by `vuex-map-fields` but I advice against doing this.

[2020-08-06 09:54] yannick-milanetto commented on #75
In addition to what @lhy666 said, if you need to access mapped fields within your script part (in <script></script> section), you will have to tell Typescript how to infer the types. The solution I've found is to extend Vue class with your fields definition.

Example in your Vue component :
[code]

[2020-08-19 18:58] rainux commented on #71
I also experienced the same issue, I found we can create our own getter and mutation to wrap `getField` and `updatedField` provided by `vuex-map-fields`:

[code]

[2020-08-27 14:03] Nisthar commented on #32
I am getting the same exact error in electron

[2020-09-08 08:03] nguyenpr9 opened #115 "[vuex] do not mutate vuex store state outside mutation handlers."
I
When i set `strict : true` => Is has problems

But when i set `strict : false` =>  it gone

see In : https://codesandbox.io/s/vuex-map-fields-nested-properties-forked-gex56?fontsize=14&hidenavigation=1&theme=dark

how can I fix this?

[2020-09-08 08:06] geoidesic commented on #115
Can you be a bit more specific about what the problem is?
"It has problems" doesn't tell me anything useful and nor does "it gone".
What is "it" for a start? And what problems?

[2020-09-08 08:09] nguyenpr9 commented on #115
You can check this in input. when you type, Is has error console

[2020-09-08 08:18] geoidesic commented on #115
Ok. This is because your list field is an array. The mutation that `mapFields` is mapping to your list is `updateField`. Your v-model is pointing to a single item in the list, this item is being updated directly, not with a mutator because the mutator is mapped to the list as a whole, not to the individual item of the list. You need to use `mapMultiRowFields` instead of `mapFields` for the list.

[2020-09-08 08:18] #115 closed

[2020-09-08 08:19] #109 closed

[2020-09-08 08:20] geoidesic commented on #108
Closing this as there's been no further feedback from the OP

[2020-09-08 08:20] #108 closed

[2020-09-08 08:24] geoidesic commented on #105
@evry-johan can you create a codesandbox instance to highlight the issue? It's not really clear what you're struggling with. First you mentioned mutations not showing up in vue dev tools then you mentioned being able to manipulate, which sounds like a different issue?

You haven't shown your template code but my guess is that you are trying to manipulate the contents of an array that is mapped via

[2020-09-08 08:26] geoidesic commented on #112
Why do you need to pass mapFields as a prop? Why not just import it inside your wrapper?

[2020-09-08 08:26] #104 closed

[2020-09-08 08:27] geoidesic commented on #71
@AndeeZee Does rainux's solution solve your problem?

[2020-09-08 08:28] geoidesic commented on #79
Closing this as there has been no further feedback from @MLDMoritz

[2020-09-08 08:28] #79 closed

[2020-09-08 08:32] geoidesic commented on #18
Closing this as there has been no further feedback from @abhinukala

[2020-09-08 08:32] #18 closed

[2020-09-08 08:48] geoidesic commented on #50
Closing this due to no further feedback from OP.

[2020-09-08 08:48] #50 closed

[2020-09-08 08:50] geoidesic commented on #60
Closing this as no further feedback from OP

[2020-09-08 08:50] #60 closed

[2020-09-08 08:50] geoidesic commented on #78
Closing this as no further feedback from OP

[2020-09-08 08:50] #78 closed

[2020-09-08 08:55] geoidesic commented on #96
@mrdigitalau Most likely this is a race condition that is causing the problem. I.e. you are probably doing the request and assignment asynchronously. You need to ensure that your assignment occurs only once your request has completed, in other words you need to look into Promise handling and / or async / await.

I'm closing this as there is no further feedback from OP. If you still have an issue,

[2020-09-08 08:55] #96 closed

[2020-09-08 08:58] geoidesic commented on #75
@nowrap have the comments here solved your problem?

[2020-09-08 09:00] geoidesic commented on #114
@heiheshang have the comments here solved your issue?

[2020-09-08 09:03] nguyenpr9 commented on #115
thanks you ! but when i use **mapMultiRowFields** for the list, I can't get items in list to push to other list

please help me check this.
https://codesandbox.io/s/vuex-map-fields-nested-properties-forked-gex56?fontsize=14&hidenavigation=1&theme=dark

[2020-09-08 09:29] nguyenpr9 opened #116 "items use mapMultiRowFields push [] to other variable"
when i use **mapMultiRowFields** for the list, I can't get items in list to push to other list

please help me check this.
https://codesandbox.io/s/vuex-map-fields-nested-properties-forked-gex56?fontsize=14&hidenavigation=1&theme=dark

_Originally posted by @nguyenpr9 in https://github.com/maoberlehner/vuex-map-fields/issues/115#issuecomment-688730054_

[2020-09-08 10:00] AndeeZee commented on #71
Hello!
Yes, this helped a lot and sorry for not coming back earlier.
I'll close this issue now.
Andy

[2020-09-08 10:00] #71 closed

[2020-09-08 10:15] nguyenpr9 commented on #116
- [question]

[2020-09-08 11:15] geoidesic commented on #116
For a start `mapMultiRowFields` is intended to be used with an iterator, you're not iterating.
Items **are** pushing to the list. When you click the `push Data` button it adds `{ "helo": 10 }` to the array.

[2020-09-08 11:22] geoidesic commented on #116
Maybe you should explain what you're actually trying to achieve because without that understanding it's hard to guide you. At the moment you're talking about a list... but there's no list in your code. What you have is a single field, which is not linked to anything but itself and then you have a hard-coded value which you're pushing into an array every time the `push Data` button is clicked.

[2020-09-08 11:28] geoidesic commented on #116
It looks to me like maybe what you're trying to achieve is to have a field, which when you enter a value in the field, the value then gets added to an array. However, it's not clear what that has to do with this library. This library isn't designed to deal with that and you don't need this library for that.

What this library is designed for is for mapping a v-model to vuex. That's it.

Anything m

[2020-09-08 11:33] geoidesic commented on #116
The point of this library is to provide some easy ways of not having to write repetitive code for mapping v-models to vuex. It's not however intended to be a Swiss army knife that will replace all kinds of data mappings to vuex. It has quite a limited use-case.

The two use cases are:
1. `mapFields`, which can be used to create a 1-to-1 mapping between a single vuex state node and a v-model and it

[2020-09-08 11:56] geoidesic commented on #116
There's an example of how to use `mapMultiRowFields` in the docs: https://codesandbox.io/s/yj1xxx8kn1?file=/src/App.vue

[2020-09-08 12:02] nguyenpr9 commented on #116
hi @geoidesic,
I have a array object(**items**) and I want to push them to new object (**selectedRows**) but when I push it, The **selectedRows** doesn't have any value in **items**
you can see this : https://codesandbox.io/s/vuex-map-fields-nested-properties-forked-57c2j?fontsize=14&hidenavigation=1&theme=dark

[2020-09-08 12:03] geoidesic commented on #112
You can't do what you're trying to do because as you've realised, there's no reference to `this` for restructuring computed properties.

Probably the better way is to have a single form component. I'm not sure what value your wrappers have – if their only purpose was to differentiate the `mapFields`, then they are not fit for purpose. The way to do that would be to create both mappings with unique

[2020-09-08 12:07] geoidesic commented on #116
This library doesn't do that. It's not what this library is for. I suggest you read up on how to use vuex.

[2020-09-08 12:12] nguyenpr9 commented on #116
but if I use **mapField** i can push them to its. It mean i need to turn off strict to avoid throw an error

[2020-09-08 12:15] geoidesic commented on #116
Just because you can do something doesn't mean you should. It's working in that instance by accident, not by design.
The reason you can push to them with strict switched off is because you are misusing vuex. Strict prevents you from misusing vuex.  You're asking for a magic way to prevent you from misusing vuex, which doesn't exist.

As I've explained before. `mapFields` is designed for mapping a

[2020-09-08 12:24] geoidesic commented on #116
In your latest example, `mapMultiRowsFields` is of no use. All you're doing is trying to get the first record in the list and push it onto an array. For that use-case `mapFields` will work perfectly, even with strict set to true. As demonstrated here:
https://codesandbox.io/s/vuex-map-fields-nested-properties-forked-i2xnf?file=/src/App.vue

This is why I keep saying – tell us what you're actually

[2020-09-08 12:34] geoidesic commented on #116
It's possible that this library would be of use to you but unless you tell me what it is you're trying to build I won't be able to guide you. I suggest you say something like:

"I'm trying to build a form that can add new values into the `list` array on my vuex store. Each item in the array represents a row of data. The form will have a field for each column, and thus represents a new row."

Is th

[2020-09-08 12:48] nguyenpr9 commented on #116
![Screenshot from 2020-09-08 19-32-05](https://user-images.githubusercontent.com/55862211/92478086-ddebc680-f20b-11ea-8bb1-1efeb8cacad5.png)
 You place tick in the box at the first of each line then the info will be stored in 'selectedRow' variable

[2020-09-08 13:18] geoidesic commented on #116
https://codesandbox.io/s/vuex-map-fields-multi-row-fields-forked-28nld?file=/src/App.vue

[2020-09-08 13:35] geoidesic commented on #116
However you can do what you're trying to do without `Vuex-map-fields` as shown here: https://codesandbox.io/s/select-rows-from-table-without-vuex-map-fields-ut6xm

The only reason to use this library is to map the v-model of input fields to vuex, which you don't need in order to do what you've shown that you are trying to do.

[2020-09-08 13:36] geoidesic commented on #116
So I think you are wasting your time trying to use this library. What you should be trying to do is to learn `vuex`.

[2020-09-08 13:36] #116 closed

[2020-09-08 13:42] nguyenpr9 commented on #116
thanks you !

[2020-09-13 12:54] v1nc3n4 commented on #24
Hi all,

Based on the great solutions provided by @fabien-michel and @wanxe above, hereafter is an extended version that should allow generating getters/setters with nested arrays.
I needed to map a field located at `rootArray[].nestedArray[].field` with different indexes. The syntax evolves a little, to provide index of index fields, but I didn't find a more elegant solution yet.

[code]

Then, t

[2020-09-20 16:24] aberbenni commented on #114
@maoberlehner Why do you advise against using `mutations` generated by `vuex-map-fields` inside `actions`?

In my case, I solved it like this:
[code]
but it seems to me useless and repetitive code since in practice `setItems` already exists. with another name.

[2020-09-27 13:24] afuno opened #117 "Is there any way to create a callback or something similar?"
After changing the data in the text field, a mutation named `updateField` is performed. I needed to call a different mutation every time `updateField` is executed. Can you please tell me how can I implement this? Maybe you have the ability to rewrite the mutation with the addition of custom code to implement the callback? Or do you already have the ability to specify a callback? I didn't find anyt

[2020-09-28 09:49] geoidesic commented on #117
It is documented here: https://github.com/maoberlehner/vuex-map-fields#component-2
Use `CreateHelpers`.

[2020-09-28 09:58] afuno commented on #117
@geoidesic But I only see hashes with types. Maybe I misunderstand something?

[2020-10-03 13:37] geoidesic commented on #117
@afuno maybe I don't understand what you're trying to do. Perhaps show some code?
I don't know what you mean by `hashes with types` or what that has to do with what I posted. Hashes are not a JavaScript concept as far as I'm aware.

My understanding is that you are asking if it's possible to map to a different mutation other than `updateField`. You can do this as documented in the link I've shown.

[2020-10-03 13:47] geoidesic commented on #114
I think both @aberbenni and @heiheshang are misunderstanding how this library works. The point of this library is that you don't manually call the mutations. Instead the mutations are written as setters on the aliased property in the vm root scope. So you simply set the value for that alias and the mutation is called automatically.

So for example:
[code]
This will create an alias `vm.node` (i.e.

[2020-10-04 21:26] SaulMoonves opened #120 "Using vuedraggable "Computed property "simpleSetForms" was assigned to but it has no setter.""
I am attempting to use vuedraggable to create draggable form snippets inside an vuex array named simpleSetForms, using vuex-map-fields via:

...mapMultiRowFields(['simpleSetForms']),

and when I drag the form sections to change their order in the array, I receive the error: Using vuedraggable "Computed property "simpleSetForms" was assigned to but it has no setter."

Can vuex-map-fields provide a

[2020-10-05 07:18] aberbenni commented on #114
I try to better clarify what I'm doing, my use case is about actions where I run asynchronous code by calling external APIs with _axios_ and then saving fetched data in my Vuex store.

To do this, you need to commit mutations in an action, as reported here: https://vuex.vuejs.org/guide/actions.html
"_Instead of mutating the state, **actions commit mutations**_".

Here is my code:
[code]

So how ca

[2020-10-05 22:29] zenire commented on #29
@maoberlehner Have you thought about this feature?

[2020-10-11 07:48] GarciaTandela opened #121 "[vuex] unknown mutation type: real_state/updateField"
Hi i'm using the Vuex store with a input with v-model, whenever i try to change the value it returns me this message in the console.log, and the state in Vuex store doesn't change

[2020-10-12 18:09] Steiger04 opened #122 "[feature request] composition-api support"
With vuex-composition-helpers you can do something like this:
[code]
Can you expand vuex-map-fields so that the following would be possible:
[code]

And then templateCounter can be used with v-model in the template section. That would be a great feature.

[2020-10-17 07:31] ziaadini commented on #75
if you don't want build a class for each map  you can do some thing like this :
[code]
or even better define an interface
[code]

[code]

[2020-10-22 15:00] geoidesic commented on #120
Hi @SaulMoonves
I'm not really sure what you mean. Perhaps you could create a codesandbox link that highlights the issue you are facing?

`mapFields` does create a getter and setter on the mapped vuex value, to an alias on the root scope of the vm on which the mapping was made.

From what I can make out from your description, it sounds like it should work.

[2020-10-22 15:02] geoidesic commented on #121
@YannickSilva
As described in the README, you have to create the `updateField` on mutation on your store.
https://github.com/maoberlehner/vuex-map-fields#store

[2020-10-22 15:02] #121 closed, assigned to nobody

[2020-10-22 15:03] geoidesic commented on #117
@afuno Since you haven't replied, I'm going to assume my last comment has solved your issue and close this.

[2020-10-22 15:03] #117 closed

[2020-10-22 15:07] geoidesic commented on #122
@Steiger04
None of the contributors to this library are using composition yet. Looking at `vuex-composition-helpers` GitHub repo it looks like a small amount of quite simple code. If this feature is important to you, perhaps you'd consider implementing it and making a PR?

[2020-10-23 11:28] geoidesic opened #123 "Debounce mapped v-models"
Currently if you map, say an input field, it will update on every keystroke. It might be better if one could debounce this to run a single mutation once typing ceases. Is there a way to achieve this?

[2020-10-26 13:05] azarashill commented on #75
like?
[code]

[2020-11-03 13:11] marwenDD opened #124 "Dynamic generate mutation on save"
Hi everyone, i’m new at vue js, and i hope i can find help hier:
we have a large App contain a very large queries and mutation and my question is :
if there any posibility to make the mutation dynamic and generated when the user change the value of v-model ? and i want just to sent the input value that has been changed, it’s possible to do that? i was searching and reading a lot but i can’t find s

[2020-11-03 13:25] geoidesic commented on #124
It's not clear to me from what you've written what you are trying to achieve, nor what the problem is. It's also not clear what this has to do with the `vex-map-fields` library, as you don't seem to be using it. I would suggest that you join the `vuex` discord channel and ask your question on there.

[2020-11-03 13:32] geoidesic commented on #124
I don't know what you mean by "to make the mutation dynamic and generated when the user change the value of v-model".

Make the mutation dynamic in what way?
Mutations can be triggered when a v-model changes. It doesn't make sense to "generate" a mutation. I don't know what that would look like. I'm going to close this as I don't think this is the right place for this question.

If you are looking

[2020-11-03 13:32] #124 closed, assigned to nobody

[2020-11-03 13:34] geoidesic commented on #120
Closing due to lack of feedback from OP

[2020-11-03 13:34] #120 closed, assigned to SaulMoonves

[2020-11-03 13:44] marwenDD commented on #124
Thanks for ur replay, i dont know why my issue is posted hier :(
i dont use this library and that was not what i'm lloking for...sorry

[2020-11-08 16:28] realnot opened #125 "How I can handle custom getter / setter for a single property."
From backend I get a flat object like this:

[code]

For property like: `note` and `name` I have no problem in set / get the property to the store, but for field like city I don't know how to handle it. City like all choices fields, are handled with an input select (object) where `city` is the **key** and `city_name` is the **value**. So the getter for that property should return something like:

[2020-11-13 10:07] francoism90 commented on #123
I don't know if this answer your question, but this is how I use debounce on vuex-map-fields:
[code]

In your `template` simple call `queryModel` instead of `query`. Some frameworks offer debouncing on some inputs out-of-the-box. :)

[2020-11-15 08:04] geoidesic opened #126 "createHelper concatenation goes haywire"
If I call the same `createHelpers` multiple times (for different components) I get weird concatenation repetition issues with the `getters`.

E.g.
[code]
I think this must be to do with `normalizeNamespace` where it does this:
[code]
Any idea what exactly is causing this issue or how to prevent it?

[2020-11-15 08:06] geoidesic commented on #125
You haven't shown the `vuex-map-fields` code that you are using, so it's hard to say, but I would look into `createHelpers` which allows you to assign a custom getter and mutation.

[2020-11-15 10:41] maoberlehner commented on #126
Can you create a minimal reproduction demo on something like CodeSandbox? Thanks!

[2020-11-15 11:44] geoidesic commented on #126
I think I've fixed this now. It's actually to do with the new work I've done on the `normalizeNamespace` function.
I'd like to leave this open till I submit the PR.

[2020-11-21 19:40] arimourao commented on #22
I'm developing a app using Nuxtjs and I'm using namespaced store and I'm getting this exact problem of property undefined when trying to access a nested property. This is the relevant portion of my code:

**Store**
_getters.js_

[code]
_```
mutations.js_
[code]

_component_
[code]

Worth of notice, I'm getting this problem right after I'm resetting all properties of the object in the state that vu

[2020-11-29 17:20] shanehoban commented on #43
Has this been implemented, I can find anything about it, trying to have an object passed through like so (on strict mode it doesn't like it):

[code]

And in my component, I'd love to be able to do something like this:

[code]

Which would allow me to use `v-model="settings.stickyScroll"` for example. Is there a way to do this (without throwing errors in strict mode that is)?

[2020-11-29 17:41] geoidesic commented on #43
@shanehoban no it has not been implemented.
The idea with map fields is that it maps symbols on the vm root to paths in vuex.
What would be your expected outcome in terms of mapped symbols for `...mapFields('App', ['settings', 'config']),`?

Are you expecting that each item in the object is mapped to the vm root?
E.g. `vm.debug` being mapped to `config.debug`?

[2020-11-29 18:14] shanehoban commented on #43
Thanks @geoidesic.

To answer your question, I don't really understand how the internals work, but my expectation is that I will always be accessing object properties via dot notation eg.:

`v-model="settings.stickyScroll"`

so `settings` as a whole becomes available, and not the properties of it without dot notation, e.g. if I reference `stickyScroll`, this is never going to reference `settings.s

[2020-12-03 19:08] D1mon commented on #24
https://github.com/maoberlehner/vuex-map-fields/issues/24#issuecomment-642980556 message deleted. please update examples.

[2020-12-03 19:29] D1mon opened #127 "nested arrays?"
[code]

`arr` is array objects:
[code]
i need `arr` to be empty in init state

when i add new item:
[code]
an error occurs:
`vue.runtime.esm.js?2b0e:619 [Vue warn]: Error in v-on handler: "TypeError: Cannot read property 'push' of undefined"`

tried a bunch of options

and can't return values:
[code]
[code]
returns "undefined"

[2020-12-09 11:18] danielhughesMSM opened #128 "Duplicate field names"
Hi,

I've been using vuex-map-fields for over a year now and i've never had problems with it before. I've just come across an issue that i'm not sure how to solve.

I'm trying to set up some mappings and i'm running in to an error when i try to map the same name from multiple parts of my module.

For example. If i had:

leftHand: {
    indexFinger
},
rightHand: {
    indexFinger
}

i would have ex

[2020-12-10 19:37] bekliev commented on #16
any updates on this one?

[2021-01-04 11:05] tonviet712 commented on #24
with this method, what if **pageNumber** is dynamic ?
like I have button to choose pageNumber (1|2|3...) => choose 3, but the data pages[3] is not loaded

[2021-01-22 10:14] mdiaz-payvision opened #131 "Can we use also actions and not only mutations?"
Hi!

Sorry if this a very basic question. From the examples in the docs and the source code, I guess I only can fire mutations when a property is set. What about actions? What if I always wanto to call some API before making a mutation? In the [example](https://github.com/maoberlehner/vuex-map-fields#custom-getters-and-mutations) of custom getters and setters, it would be something like this:

**S

[2021-02-26 19:26] arnauddoub opened #132 "Support Vuex 4"
Hello, vuex-map-fields support vuex 4 ?

[2021-03-15 10:51] tohagan commented on #75
And can you use this with `vuex-module-decorators` Vuex classes?

[2021-03-16 13:56] Ceda opened #133 "[PERFORMANCE] mapMultiRowFields is extremely slow with 100 items"
Hi i have problem with mapMultiRowFields, when i add to lines cca 100 items, mutation updateField is very slow.
Any way how to speed up?

![image](https://user-images.githubusercontent.com/1154301/111320659-82d9d700-8667-11eb-80e3-78a581032b87.png)

[2021-03-16 14:13] Ceda commented on #133
After a moment of exploring looks like issue in `vuex` not in `vuex-map-fields`

[2021-03-16 15:08] Ceda commented on #133
Is issue with vuex not map fields. closing

[2021-03-16 15:08] #133 closed, assigned to nobody

[2021-03-19 15:42] ukik opened #134 "cannot commit from programmatically + new feature action CRUD (nice)"
i like this plugin, help me so much.

unfortunately i cannot commit mutation from programatically, so this powerfull feature is needed. more over if you add action CRUD  i am waiting for it.

great works, keep innovating,

[2021-03-24 12:11] mchl18 commented on #16
I could also need this... I am having a module that contains an object of objects and it would be great to update these with a helper. Right now I cannot use `v-model` with this sadly.

[2021-03-26 10:30] lynx-r commented on #75
As said @azarashill I created a file `vuex-map-fields.d.ts` with the type definition. Notice `declare module` must be single in a typings file.

[code]

[2021-04-01 10:52] oiseedev opened #136 "nuxt-vite support?"
Nuxt project with vuex-map-fields can't be built by nuxt-vite.
Is there any way to solve this problem?

[2021-04-01 14:23] maoberlehner commented on #136
Why not? What's the problem?

[2021-04-04 15:32] itsChris commented on #132
you have formulated the question in a very general way. I asked myself a similar question and therefore created a test project. if you are interested, you can find it here.

https://github.com/itsChris/vuex-4-mapfields

As far as I understand, I would claim vue 3 and vuex 4 are supported. for me, this is important because I work with vue 3 and vuex 4. if anyone has experience, I am interested.

[2021-04-04 16:02] maoberlehner commented on #132
Thanks @itsChris for answering the question!

`vuex-map-fields` relies on `this.$store.getters` and `this.$store.commit`. If Vuex 4 has the same API for those two, there is no reason why it shouldn't work.

[2021-04-06 01:59] oiseedev commented on #136
node v14.16.0

I use `npx create-nuxt-app` to create the project, then installing _nuxt-vite_ and _vuex-map-fields_.

[code]

Settings in nuxt.config.js :
`  buildModules: ["nuxt-vite"],`

After using vuex-map-fields in pages and run  `npm run dev` or `npm run build` , it always shows:

**SyntaxError: The requested module '/@fs/mnt/d/Test/vite-vuex-map-fields/node_modules/.cache/vite/client/vuex-m

[2021-04-13 14:01] mchl18 commented on #26
Hey @maoberlehner !

It seems there is a simpler way to get typings in than to add them to DefinitelyTyped, which has its whole own process and standards.

Instead it is recommended by them that, if there is a way to generate these automatically, to just add them to the npm repo:

source: https://github.com/DefinitelyTyped/DefinitelyTyped#create-a-new-package

However this can also be done with JS

[2021-04-19 13:34] geoidesic opened #138 "Use Vue.set in updateField to support reactive array watching"
Why does it not use `Vue.set` here?
https://github.com/maoberlehner/vuex-map-fields/blob/96fa6b3a70de1f64da251c0ff0caad42e7255944/src/index.js#L33

It seems to me that if you were to replace
[code]
with
[code]
It would be simpler and more reactive (as setting arrays directly via indexes does not default getter watchers).

[2021-04-19 15:51] maoberlehner commented on #138
Just double checked `Vue.set(state, 'some.nested.path', value);` does not work. If it would, it would be a big improvement indeed!

As for the "more" reactive thing: either it is reactive or not. It would enable setting **new** properties on the fly instead of declaring them beforehand. I can see how for some use cases this would be a nice improvement but I'm not sure if it doesn't promote anti pa

[2021-04-27 09:31] DFSebastian opened #139 "Namespaced Vuex modules with Folder structure possible?"
Hi,
I get the following error in console when trying to use the namespaced syntax from the documentation combined with a folder.
**TypeError: this.$store.getters[getterType] is not a function**

I do have a parent folder "foo" where my store javascript files are.
I tried solving this by using
[code]
but this throws the error mentioned above. Is there any other aproach that I am missing?
Kind regar

[2021-06-18 08:04] conor-odro commented on #35
Is there any further updates on this? This is still an issue in June 2021.

A workaround for now is to use the store directly, but it doesn't _feel_ like the correct solution.

[code]

[2021-06-20 13:31] hazelab commented on #24
@maoberlehner, awesome library!
In case someone is struggling, I made quick'n'dirty edition to have dynamic multi row fields (based on solution of @widavies):
[code]
use case:
[code]
Far from perfection. Any suggestions for improvement are welcome.

[2021-07-13 15:10] asifaly opened #145 "...mapFields conditionally based on a prop value (question)"
Is it possible to ...mapFields different state values ?

For example in store i have

[code]

In the component based on a prop value, i would like assign `...mapFields(['editvalues'])` or `...mapFields(['newvalues'])`. Is this possible ?

[2021-07-17 17:00] rsf123 opened #146 "mapMultiRowFields doesn't appear to support dot notation?"
Within my store, I've defined my fields inside of an object:
`state: {
   application: [{
      firstName: '',
      lastName: '',
      phoneNumbers: [{
          type: '',
          number: ''
      ]}
})`

inside of my component I can use `mapFields(['application.firstName',application.lastName'])` and it will properly map.  However, if I use `mapMultiRowFields(['application.phoneNumbers'])` I

[2021-07-28 11:49] rsf123 opened #147 "Pass namespace as a variable to mapFields"
I'm trying to pass the namespace to mapFields as a variable rather than a hardcoded element.
So when I define my component, I pass it a property that defines which namespace in the Vuex store to map fields against.  However, it keeps giving me a type error on an undefined property.

My code looks similar to this:
`props: ['ns'],
computed: {
   ...mapFields(this.ns,['fieldname','fieldname2']
}`

If

[2021-09-14 06:21] cmitexperts commented on #31
Hello @maoberlehner maoberlehner, I have used your library but I have face some issue with mapMultiRowField. According to below example if you have any solution then please let me know.

 people: [
    {
     possessions: [
        {
          price: 100,
          name: 'Test Possession',
        },
        {
          price: 100,
          name: 'Test Possession',
        },
      ],
      name:

[2021-09-20 18:39] plweil commented on #59
I know this is late to the game, but I just ran into this issue and this thread pinpointed the problem. But then there is the v-model issue mentioned by @geoidesic. To get around it, you can map the field to a different name; e.g.;

``...mapFields( 'login', {
    phoneLogin: 'phone'
    }),
    ``

[2021-11-09 21:39] darrinmn9 commented on #132
If this library does support vue2/3 and vuex3/4, is it worth adding a note of this in the readme?

Also, it seems all of the current unit tests are run on vue2/vuex3, is it possible to have the tests run against vue3/vuex4 as well?

[2021-11-23 12:06] LorensLacis commented on #75
In order to use mapFields as mapGetters from vuex with namespaces, I've written according definitions;

`
declare module 'vuex-map-fields' {
  interface Mapper<R> {
    <Key extends string>(map: Key[]): { [K in Key]: R };
    <Map extends Record<string, string>>(map: Map): { [K in keyof Map]: R };
  }

  interface MapperWithNamespace<R> {
    <Key extends string>(namespace: string, map: Key[]): {

[2021-11-23 12:10] LorensDomins commented on #75
In order to use mapFields like mapGetters from vuex with namespaces, I've written according definitions; `vuex-map-fields.d.ts`

[code]

If you have highlighted eslint errors just add `/* eslint-disable */` rule at the beginning of the file.

[2021-12-06 09:20] wackyapps commented on #10
@maoberlehner  Do i have to use this package in nuxt as plugin entry?

[2021-12-29 09:08] vladislavGovoritov commented on #7
How to handle array(with primitives) fields? - ["one", "two "]

[2021-12-29 09:09] vladislavGovoritov commented on #7
<div v-for="(item, index) of addInfo" :key="index">
      <v-text-field
        label="test"
        v-model="addInfo[index]"

    </div>

[2021-12-29 09:11] vladislavGovoritov opened #150 "How to handle array(with primitives) fields? - ["one", "two "]"
<div v-for="(item, index) of addInfo" :key="index">
      <v-text-field
        label="test"
        v-model="addInfo[index]"

    </div>

state: {
  addInfo: ["a","b"],
}

[2022-01-04 06:34] #150 closed, assigned to nobody

[2022-01-13 01:49] dpeckham opened #151 "Reference a specific array index in mapFields?"
Using Vue 3. My data model is like this: a.b[n].c

I have a component which can render a single "c".

I want to do this:

[code]

Is there a way?

[2022-01-18 18:54] lasteuropean commented on #50
I'm struggling with this exact issue; the difference is that I'm using Nuxt.js and am having trouble implementing this part:

`const store = new Vuex.Store({
  // ...
  modules: { bookingData }
});`

Any advice? Also get this message in my developer console when I use mapMultiRowFields
"(error during evaluation)"

[2022-03-03 08:46] vladfr commented on #59
This happens because you didn't wire your state module correctly. You need to add `getField` and `updateField` to your getter and mutation types.

[code]

[2022-04-21 10:43] ferrykranenburgcw opened #153 "How to use ...mapFields in script setup and typescript?"
We are currently in the proces of migrating some component to Vue 3 script setup style. But have have found some difficulties integrating this.

We are using a customHelper

[code]
And would like to use it inside a `computed` like this:

`let somestate = computed(() =>customHelper.mapFields(["somestate"]);`

It compiles, until we try to change the value.

`somestate.value = "new value"`  <- this w

[2022-05-30 09:10] #132 closed, assigned to nobody

[2022-06-22 06:13] loveStef opened #154 "Something wrong when I use electron-vue"
[Vuex Electron] Please, don't use direct commit's, use dispatch instead of this.

Looking forword to fix it

[2022-06-22 14:05] maoberlehner commented on #154
I don't think there is anything I can do about this: https://stackoverflow.com/a/54214032/665086
I don't want to add a workaround for this specific use case. Sorry.

[2022-06-22 14:05] #154 closed, assigned to nobody

[2022-10-25 23:36] stevenmyhre commented on #122
[code]

Usage:

[code]